API_BASE_URL=http://localhost:4502
PORT=4501
EXTERNAL_WEBSITE_HOST=http://localhost:4501
NODE_ENV=local
GA4_DISABLED=false
UA_DISABLED=false
DT_RUM_URL=
SESSION_SECRET=dev_secret
ENABLE_PREVIEW="development"
LANGUAGE_TOGGLE=false
OUTAGE_BANNER=false
