{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set pageTitleKey = 'pages.confirmDetails.title' %}
{% set googleTagManagerPageId = "confirmDetails" %}
{% set isPageDynamic = false %}

{% set isPageDataSensitive = false %}
{% set contentID = '48d22735-b387-4948-bb74-2bf3609aea9b'%}

{% if errorState == "radiobox" %}
    {% set errorText = 'pages.confirmDetails.content.errorRadioMessage' | translate %}
{% else %}
    {% set errorText = 'pages.confirmDetails.content.errorCheckBoxMessage' | translate %}
{% endif %}
{% set errorTitle = 'pages.confirmDetails.content.errorSummaryTitleText' | translate %}
{% set errorHref = "#confirmDetailsActionForm" %}

{% block content %}
    <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{ 'pages.confirmDetails.header' | translate }}</h1>
    <p class="govuk-body">{{ 'pages.confirmDetails.content.paragraph1' | translate }}</p>

    <h2 class="govuk-heading-m">{{ 'pages.confirmDetails.content.summaryHeading' | translate }}</h2>

    {% set rows = [
      {
        key: {
          text: 'pages.confirmDetails.content.summary1' | translate
        },
        value: {
          text: userDetails.nameParts.givenName
        }
      },
      {
        key: {
          text: 'pages.confirmDetails.content.summary2' | translate
        },
        value: {
          text: userDetails.nameParts.familyName
        }
      },
      {
        key: {
          text: 'pages.confirmDetails.content.summary3' | translate
        },
        value: {
          text: userDetails.addresses[0].addressDetailHtml | safe
        }
      },
      {
        key: {
          text: 'pages.confirmDetails.content.summary4' | translate
        },
        value: {
          text: userDetails.dateOfBirth | GDSDate
        }
      }
    ] %}

    {{ govukSummaryList({
      rows: rows
    }) }}
    {{ govukDetails({
        summaryText: 'pages.confirmDetails.content.detailsTitle' | translate,
        text: 'pages.confirmDetails.content.detailsContent' | translate({ url: contactUsUrl }) | safe
    }) }}

    <form id="confirmDetailsActionForm" action="/ipv/page/{{ pageId }}" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% set checkboxConfig = {
            idPrefix: "journey",
            name: "detailsToUpdate",
            fieldset: {
            legend: {
                text: 'pages.confirmDetails.content.formCheckBoxes.heading' | translate,
                classes: "govuk-fieldset__legend--m"
            }
            },
            hint: {
            text: 'pages.confirmDetails.content.formCheckBoxes.hint' | translate
            },
            items: [
            {
                value: "givenNames",
                text: 'pages.confirmDetails.content.formCheckBoxes.checkbox1' | translate,
                hint: {
                text: 'pages.confirmDetails.content.formCheckBoxes.checkbox1Hint' | translate
                }
            },
            {
                value: "familyName",
                text: 'pages.confirmDetails.content.formCheckBoxes.checkbox2' | translate
            },
            {
                value: "address",
                text: 'pages.confirmDetails.content.formCheckBoxes.checkbox3' | translate
            },
            {
                value: "dateOfBirth",
                text: 'pages.confirmDetails.content.formCheckBoxes.checkbox4' | translate
            }
            ]
        } %}

        {% if errorState == "checkbox" %}
        {% set checkBoxesErrorMessageObject = { 'text': 'pages.confirmDetails.content.errorCheckBoxMessage' | translate } %}
        {% set checkboxConfig = checkboxConfig | setAttribute('errorMessage', checkBoxesErrorMessageObject) %}
        {% endif %}

        {% set checkboxHtml %}
        {{ govukCheckboxes(checkboxConfig) }}
        {% endset -%}


        {% set radiosConfig = {
        idPrefix: "up-to-date",
        name: "detailsCorrect",
        fieldset: {
            legend: {
            text: 'pages.confirmDetails.content.formTitle' | translate | safe,
            classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
                value: "yes",
                text: 'pages.confirmDetails.content.formRadioButtons.yes' | translate
            },
            {
                value: "no",
                text: 'pages.confirmDetails.content.formRadioButtons.no' | translate,
                conditional: {
                    html: checkboxHtml
                },
                checked:  errorState == "checkbox"
            }
        ]
        } %}

        {% if errorState == "radiobox" %}
            {% set errorText = 'pages.confirmDetails.content.errorRadioMessage' | translate %}
            {% set radiosErrorMessageObject = { 'text': 'pages.confirmDetails.content.errorRadioMessage' | translate } %}
            {% set radiosConfig = radiosConfig | setAttribute('errorMessage', radiosErrorMessageObject) %}
        {% endif %}

        {{ govukRadios(radiosConfig) }}
        {{ govukWarningText({
            text: 'pages.confirmDetails.content.warningTextContent' | translate,
            iconFallbackText: 'pages.confirmDetails.content.warningTextFallback' | translate
        }) }}
        {{ govukButton({
          id: "submitButton",
          text: 'general.buttons.next' | translate
        }) }}
    </form>
{% endblock %}
