{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleKey = 'pages.deleteHandover.title' %}
{% set googleTagManagerPageId = "deleteHandover" %}
{% set isPageDynamic = false %}
{% set showBack = true %}
{% set hrefBack = "/ipv/journey/delete-handover/back" %}

{% set isPageDataSensitive = false %}
{% set contentID = 'e6cc7bf5-de43-41cc-9edb-f2aa6fda0756' %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{ 'pages.deleteHandover.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.deleteHandover.content.paragraph1Html' | translate | safe }}</p>
  <p class="govuk-body">{{ 'pages.deleteHandover.content.paragraph2' | translate  }}</p>

  <form id="deleteAccountForm" action="/ipv/page/{{pageId}}" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="journey" value="deleteAccount">
    {{ govukButton({
        id: "submitButton",
        text:'general.buttons.next' | translate
    }) }}
  </form>
{% endblock %}
