{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.liveInUk.title' %}
{% set googleTagManagerPageId = "liveInUk" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.liveInUk.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.liveInUk.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#liveInUkForm" %}

{% set isPageDataSensitive = false %}
{% set contentID = '48841e0e-88ad-471d-a758-13a3937f0155'%}

{% block content %}
  <form id="liveInUkForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.liveInUk.header' | translate,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: 'pages.liveInUk.content.hint' | translate
      },
      items: [
        {
          value: "uk",
          text: 'pages.liveInUk.content.formRadioButtons.uk' | translate
        },
        {
          value: "international",
          text: 'pages.liveInUk.content.formRadioButtons.international' | translate
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.liveInUk.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>
{% endblock %}
