{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitleKey = 'pages.noPhotoIdAbandonFindAnotherWay.title' %}
{% set googleTagManagerPageId = "noPhotoIdAbandonFindAnotherWay" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.noPhotoIdAbandonFindAnotherWay.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.noPhotoIdAbandonFindAnotherWay.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#noPhotoIdAbandonFindAnotherWayForm" %}

{% set isPageDataSensitive = false %}
{% set contentID = '1829e7ac-edb4-4efd-b75e-e4f8cbc0bffc' %}

{% set photoIdHtml %}
  {% include "components/types-of-photo-id.njk" %}
{% endset %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.noPhotoIdAbandonFindAnotherWay.header' | translate }}</h1>

  <h2 class="govuk-heading-m">{{ 'pages.noPhotoIdAbandonFindAnotherWay.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{ 'pages.noPhotoIdAbandonFindAnotherWay.content.paragraph1' | translate }}</p>

  <h2 class="govuk-heading-m">{{ 'pages.noPhotoIdAbandonFindAnotherWay.content.subHeading2' | translate }}</h2>
  <p class="govuk-body">{{ 'pages.noPhotoIdAbandonFindAnotherWay.content.paragraph2' | translateWithPageContextOrFallback(pageContext, 'isOpenBanking') }}</p>

  <ul class="govuk-list govuk-list--bullet">
    {% for listItem in 'pages.noPhotoIdAbandonFindAnotherWay.content.list' | translateWithPageContextOrFallback(pageContext, 'isOpenBanking', { returnObjects: true }) %}
      <li>{{ listItem }}</li>
    {% endfor %}
  </ul>

  <p class="govuk-body">{{ 'pages.noPhotoIdAbandonFindAnotherWay.content.paragraph3' | translateWithPageContextOrFallback(pageContext, 'isOpenBanking') }}</p>

  {{ govukDetails({
    summaryText: 'pages.noPhotoIdAbandonFindAnotherWay.content.detailsLabel' | translate,
    html: photoIdHtml,
    id: 'typesOfPhotoIdDetails'
  }) }}

  <form id="noPhotoIdAbandonFindAnotherWay" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {% if pageContext.isOpenBanking %}
        {% set radioOptions = [
          {
            value: "mobileApp",
            text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonApp' | translate,
            hint: { text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonAppHint' | translate }
          },
          {
            value: "passport",
            text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonPassport' | translateWithPageContextOrFallback(pageContext, 'isOpenBanking'),
            hint: { text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonPassportHint' | translateWithPageContextOrFallback(pageContext, 'isOpenBanking') }
          },
          {
            value: "drivingLicence",
            text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonDrivingLicence' | translateWithPageContextOrFallback(pageContext, 'isOpenBanking'),
            hint: { text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonDrivingLicenceHint' | translateWithPageContextOrFallback(pageContext, 'isOpenBanking') }
          },
          {
            value: "postOffice",
            text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonPostOffice' | translate,
            hint: { text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonPostOfficeHint' | translate }
          },
          {
            divider: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.separateOptionsInForm' | translate
          },
          {
            value: "relyingParty",
            text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonRp' | translateWithPageContextOrFallback(pageContext, 'isOpenBanking'),
            hint: { text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonRpHint' | translateWithPageContextOrFallback(pageContext, 'isOpenBanking') }
          }
        ] %}
      {% else %}
        {% set radioOptions = [
          {
            value: "mobileApp",
            text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonApp' | translate,
            hint: { text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonAppHint' | translate }
          },
          {
            value: "passport",
            text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonPassport' | translateWithPageContextOrFallback(pageContext, 'isOpenBanking')
          },
          {
            value: "drivingLicence",
            text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonDrivingLicence' | translateWithPageContextOrFallback(pageContext, 'isOpenBanking')
          },
          {
            value: "postOffice",
            text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonPostOffice' | translate,
            hint: { text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonPostOfficeHint' | translate }
          },
          {
            divider: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.separateOptionsInForm' | translate
          },
          {
            value: "relyingParty",
            text: 'pages.noPhotoIdAbandonFindAnotherWay.content.formRadioButtons.radioButtonRp' | translateWithPageContextOrFallback(pageContext, 'isOpenBanking')
          }
        ] %}
      {% endif %}

    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.noPhotoIdAbandonFindAnotherWay.content.subHeading3' | translate,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: radioOptions
    } %}

    {% if pageContext.isOpenBanking %}
      {% set hintObject = { text: 'pages.noPhotoIdAbandonFindAnotherWay.content.hint' | translateWithPageContext(pageContext, 'isOpenBanking') } %}
      {% set radiosConfig = radiosConfig | setAttribute('hint', hintObject) %}
    {% endif %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.noPhotoIdAbandonFindAnotherWay.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>

  {% include "components/contact-us-link.njk" %}
{% endblock %}
