{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.nonUkAppIntro.title' %}
{% set googleTagManagerPageId = "nonUkAppIntro" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.nonUkAppIntro.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.nonUkAppIntro.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#nonUkAppIntroForm" %}

{% set showBack = true %}
{% set hrefBack = "/ipv/journey/non-uk-app-intro/back" %}

{% set isPageDataSensitive = false %}
{% set contentID = '45ff7ddf-abd2-4c91-b8e3-bb53771b02fb'%}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.nonUkAppIntro.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.nonUkAppIntro.content.paragraph1' | translate }}</p>
  <ul class="govuk-list govuk-list--bullet" role="list">
    <li>{{ 'pages.nonUkAppIntro.content.list1' | translate }}</li>
    <li>{{ 'pages.nonUkAppIntro.content.list2' | translate }}</li>
  </ul>

  <form id="nonUkAppIntroForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.nonUkAppIntro.content.subHeading1' | translate,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "useApp",
          text: 'pages.nonUkAppIntro.content.formRadioButtons.useAppButtonText' | translate,
          hint: { text: 'pages.nonUkAppIntro.content.formRadioButtons.useAppButtonTextHint' | translate }

        },
        {
          value: "returnToRp",
          text: 'pages.nonUkAppIntro.content.formRadioButtons.returnToServiceButtonText' | translate,
          hint: { text: 'pages.nonUkAppIntro.content.formRadioButtons.returnToServiceButtonTextHint' | translate }
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.nonUkAppIntro.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>
{% endblock %}
