{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.nonUkNoAppOptions.title' %}
{% set googleTagManagerPageId = "nonUkNoAppOptions" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.nonUkNoAppOptions.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.nonUkNoAppOptions.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#nonUkNoAppOptionsForm" %}

{% set isPageDataSensitive = false %}
{% set contentID = 'aa01d261-c2de-41cb-b3de-205c56716ea4'%}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.nonUkNoAppOptions.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.nonUkNoAppOptions.content.paragraph1' | translate }}</p>

  <form id="nonUkNoAppOptionsForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.nonUkNoAppOptions.content.subHeading1' | translate,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "returnToRp",
          text: 'pages.nonUkNoAppOptions.content.formRadioButtons.continueToServiceButtonText' | translate
        },
        {
          value: "useApp",
          text: 'pages.nonUkNoAppOptions.content.formRadioButtons.appSmartphoneButtonText' | translate
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.nonUkNoAppOptions.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>
{% endblock %}
