{% extends "shared/base.njk" %}
{% from "components/journey-next-form.njk" import journeyNextForm %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set pageTitleKey = 'pages.pagePreExperianKbvTransition.title' %}
{% set googleTagManagerPageId = "pagePreExperianKbvTransition" %}

{% set isPageDataSensitive = false %}
{% set contentID = 'b7119d3b-0e92-481d-aa0a-be32bb33bec8'%}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{'pages.pagePreExperianKbvTransition.header' | translate }}</h1>
  <p class="govuk-body">{{'pages.pagePreExperianKbvTransition.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{'pages.pagePreExperianKbvTransition.content.paragraph2' | translate }}</p>
  <h2 class="govuk-heading-m">{{ 'pages.pagePreExperianKbvTransition.content.subHeading1' | translate }}</h2>
  <p class="govuk-body">{{'pages.pagePreExperianKbvTransition.content.paragraph3' | translate }}</p>

  {{ govukDetails({
    summaryText: 'pages.pagePreExperianKbvTransition.summaryText' | translate,
    text: 'pages.pagePreExperianKbvTransition.summaryHtml' | translate | safe
  }) }}

  <p class="govuk-body">{{'pages.pagePreExperianKbvTransition.content.paragraph4' | translate }}</p>
  <h2 class="govuk-heading-m">{{ 'pages.pagePreExperianKbvTransition.content.subHeading2' | translate }}</h2>
  <p class="govuk-body">{{'pages.pagePreExperianKbvTransition.content.paragraph5' | translate }}</p>

  {{ govukWarningText({
    text: 'pages.pagePreExperianKbvTransition.warningTextContent' | translate,
    iconFallbackText: 'pages.pagePreExperianKbvTransition.warningTextFallback' | translate
  }) }}

  {{ journeyNextForm(pageId, csrfToken, 'pages.pagePreExperianKbvTransition.buttonText' | translate ) }}
{% endblock %}
