{% extends "shared/base.njk" %}
{% from "components/journey-next-form.njk" import journeyNextForm %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleKey = 'pages.pageIpvSuccess.title' %}
{% set googleTagManagerPageId = "pageIpvSuccess" %}
{% set isPageDynamic = true %}

{% set isPageDataSensitive = false %}
{% set contentID = 'dec48606-5179-41f2-a1a4-ab94d3d17a31'%}

{% block content %}
  <h1 class="govuk-heading-l" id="header"
      data-page="{{ googleTagManagerPageId }}">{{ 'pages.pageIpvSuccess.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pageIpvSuccess.content.paragraph1' | translateWithContext(context) }}</p>
  <p class="govuk-body">{{ 'pages.pageIpvSuccess.content.paragraph2' | translate }}</p>
  {{ journeyNextForm(pageId, csrfToken, 'general.buttons.continueToService' | translate ) }}
{% endblock %}
