{% extends "shared/base.njk" %}
{% from "components/journey-next-form.njk" import journeyNextForm %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleKey = 'pages.pageDcmawSuccess.title' %}
{% set googleTagManagerPageId = "pageDcmawApp" %}
{% set isPageDynamic = true %}

{% set isPageDataSensitive = false %}
{% set contentID = 'f497c8da-d7b7-4d90-a136-0258e955bdbd'%}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{'pages.pageDcmawSuccess.header' | translateWithContext(context) }}</h1>
  <p class="govuk-body">{{'pages.pageDcmawSuccess.content.paragraph1' | translateWithContext(context) }}</p>

  {{ journeyNextForm(pageId, csrfToken, 'general.buttons.next' | translate ) }}

  {% if context == "coiAddress" or context == "coiNoAddress" %}
    {% include "components/contact-us-link.njk" %}
  {% endif %}
{% endblock %}
