{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.pageMultipleDocCheck.title' %}
{% set googleTagManagerPageId = "pageMultipleDocCheck" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pageMultipleDocCheck.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pageMultipleDocCheck.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#multipleDocCheckingForm" %}
{% set isPageDynamic = true %}

{% set isPageDataSensitive = false %}
{% set contentID = 'fda9b096-7f35-44f6-ba3a-9959a2425a57'%}

{% set radioItems = [
    {
      value: "drivingLicence",
      text: 'pages.pageMultipleDocCheck.content.formRadioButtons.continueDrivingLicenceButtonText' | translate
    },
    {
      value: "ukPassport",
      text: 'pages.pageMultipleDocCheck.content.formRadioButtons.continuePassportButtonText' | translate
    }
  ]
%}

{% if context == "nino" %}
    {% set radioItems = (radioItems.push({
        value: "nino",
        text: 'pages.pageMultipleDocCheck.content.formRadioButtons.continueNinoButtonText' | translate
    }), radioItems) %}
{% endif %}

{% set radioItems = (radioItems.push(
    {
      divider: 'pages.pageMultipleDocCheck.content.formRadioButtons.separateOptionsInFormText' | translate
    },
    {
      value: "end",
      text: 'pages.pageMultipleDocCheck.content.formRadioButtons.otherWayButtonText' | translate
    }),
    radioItems)
%}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pageMultipleDocCheck.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pageMultipleDocCheck.content.paragraph1' | translate }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for listItem in 'pages.pageMultipleDocCheck.content.requirements' | translateWithContext(context, { returnObjects: true }) %}
      <li>{{ listItem }}</li>
    {% endfor %}
  </ul>
  <p class="govuk-body">{{ 'pages.pageMultipleDocCheck.content.paragraph2' | translate }}</p>
  <p class="govuk-body">{{ 'pages.pageMultipleDocCheck.content.paragraph3' | translate }}</p>

  <form id="multipleDocCheckingForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.pageMultipleDocCheck.content.subHeading' | translate,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: radioItems
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pageMultipleDocCheck.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>
{% endblock %}
