{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitleKey = 'pages.pageIpvIdentityDocumentStart.title' %}
{% set googleTagManagerPageId = "pageIpvIdentityDocumentStart" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pageIpvIdentityDocumentStart.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pageIpvIdentityDocumentStart.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#identityDocumentStartPageOptionsForm" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pageIpvIdentityDocumentStart.header' | translate }}</h1>
  <p class="govuk-body govuk-!-margin-bottom-6">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph' | translate }}</p>

  <ul class="govuk-list" role="list">
    <li>
      <h2 class="govuk-heading-m">{{ 'pages.pageIpvIdentityDocumentStart.content.subHeading' | translate }}</h2>
      <p class="govuk-body">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph2' | translate }}</p>
    </li>

    <li>
      <h2 class="govuk-heading-m">{{ 'pages.pageIpvIdentityDocumentStart.content.subHeading2' | translate }}</h2>
      <p class="govuk-body">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph3' | translate }}</p>
      <ul class="govuk-list  govuk-list--bullet">
        {% for listItem in 'pages.pageIpvIdentityDocumentStart.content.nonUkPassportRequirements' | translate({ returnObjects: true }) %}
          <li>{{ listItem }}</li>
        {% endfor %}
      </ul>
      <details class="govuk-details govuk-!-margin-bottom-6">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            {{ 'pages.pageIpvIdentityDocumentStart.content.details1.summaryText' | translate }}
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">{{ 'pages.pageIpvIdentityDocumentStart.content.details1.paragraph4' | translate }}</p>
          <picture>
            <source srcset="/public/images/passport-icon.svg" />
            <img width="174" height="121" loading="lazy" src="/public/images/passport-icon-1x.png" srcset="/public/images/passport-icon-2x.png 2x" alt="{{ 'pages.pageIpvIdentityDocumentTypes.content.imgAltText' | translate }}" />
          </picture>
        </div>
      </details>
    </li>

    <li>
      <h2 class="govuk-heading-m">{{ 'pages.pageIpvIdentityDocumentStart.content.subHeading3' | translate }}</h2>
      <p class="govuk-body">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph5' | translate }}</p>
      <ul class="govuk-list  govuk-list--bullet">
        {% for listItem in 'pages.pageIpvIdentityDocumentStart.content.drivingLicenceRequirements' | translate({ returnObjects: true }) %}
          <li>{{ listItem }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body govuk-!-margin-bottom-6">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph6' | translate }}</p>
    </li>

    <li>
      <h2 class="govuk-heading-m">{{ 'pages.pageIpvIdentityDocumentStart.content.subHeading4' | translate }}</h2>
      <p class="govuk-body">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph7' | translate }}</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        {% for listItem in 'pages.pageIpvIdentityDocumentStart.content.requirements' | translate({ returnObjects: true }) %}
          <li>{{ listItem }}</li>
        {% endfor %}
      </ul>
    </li>
  </ul>

  <form id="identityDocumentStartPageOptionsForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.pageIpvIdentityDocumentStart.content.subHeading5' | translate,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: 'pages.pageIpvIdentityDocumentStart.content.hint' | translate
      },
      items: [
        {
          value: "appTriage",
          text: 'pages.pageIpvIdentityDocumentStart.content.formRadioButtons.yes' | translate
        },
        {
          value: "end",
          text: 'pages.pageIpvIdentityDocumentStart.content.formRadioButtons.no' | translate
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pageIpvIdentityDocumentStart.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>
{% endblock %}
