{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% set pageTitleKey = 'pages.pageUpdateName.title' %}
{% set googleTagManagerPageId = "pageUpdateName" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pageUpdateName.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pageUpdateName.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#pageUpdateNameOptionsForm" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pageUpdateName.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pageUpdateName.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{ 'pages.pageUpdateName.content.paragraph2' | translate }}</p>

  <ul class="govuk-list govuk-list--bullet" role="list">
    <li>{{ 'pages.pageUpdateName.content.list1' | translate }}</li>
    <li>{{ 'pages.pageUpdateName.content.list2' | translate }}</li>
  </ul>

  {{ govukWarningText({
      text: 'pages.pageUpdateName.content.warningText' | translate,
      iconFallbackText: 'pages.pageUpdateName.content.warningTextFallback' | translate
    }) }}

  <p class="govuk-body">{{ 'pages.pageUpdateName.content.paragraph3' | translate | safe}}</p>

  {{ govukDetails({
        summaryText: 'pages.pageUpdateName.content.nameMistakeInformation.summary' | translate,
        text: 'pages.pageUpdateName.content.nameMistakeInformation.text' | translate( { url: contactUsUrl } ) | safe
      }) }}

  {% if context != "repeatFraudCheck" %}
    <h2 class="govuk-heading-m">{{ 'pages.pageUpdateName.content.subHeading1' | translate }}</h2>
    <p class="govuk-body">{{ 'pages.pageUpdateName.content.paragraph4' | translate }}</p>
    <p class="govuk-body">{{ 'pages.pageUpdateName.content.paragraph5' | translate }}</p>
  {% endif %}

  <form class="govuk-heading-m" id="pageUpdateNameOptionsForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.pageUpdateName.content.subHeading2' | translate,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "update-name",
          text: 'pages.pageUpdateName.content.formRadioButtons.updateDetailsButtonText' | translate,
          hint: {text: 'pages.pageUpdateName.content.formRadioButtons.updateDetailsButtonTextHint' | translate}

        },
        {
          value: "end",
          text: 'pages.pageUpdateName.content.formRadioButtons.continueServiceButtonText' | translateWithContext(context),
          hint: { text: 'pages.pageUpdateName.content.formRadioButtons.continueServiceButtonTextHint' | translateWithContext(context) }
        },
        {
          divider: 'pages.pageUpdateName.content.formRadioButtons.separateOptionsInFormText' | translate
        },
        {
          value: "back",
          text: 'pages.pageUpdateName.content.formRadioButtons.goBackButtonText' | translate
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pageUpdateName.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}

    {{ govukDetails({
      summaryText: 'pages.pageUpdateName.content.cannotUseInformation.summary' | translate,
      text: 'pages.pageUpdateName.content.cannotUseInformation.text' | translate( { url: contactUsUrl } ) | safe
    }) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>
{% endblock %}
