{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.proveIdentityNoPhotoId.title' | translateWithContext(context) %}
{% set googleTagManagerPageId = "proveIdentityNoPhotoId" %}

{% set showBack = true %}
{% set hrefBack = "/ipv/journey/prove-identity-no-photo-id/back" %}
{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.proveIdentityNoPhotoId.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.proveIdentityNoPhotoId.content.formErrorMessage.errorSummaryDescriptionText' | translateWithContext(context) %}
{% set errorHref = "#proveIdentityNoPhotoIdOptionsForm" %}

{% set isPageDataSensitive = false %}
{% set contentID = '8fe1817a-07f6-48a5-bd53-ebc92cb1629b'%}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.proveIdentityNoPhotoId.header' | translateWithContext(context) }}</h1>
  {% if context != "nino" %}
    <p class="govuk-body">{{ 'pages.proveIdentityNoPhotoId.content.paragraph1' | translate }}</p>
    <h2 class="govuk-heading-m">{{ 'pages.proveIdentityNoPhotoId.content.subHeading' | translate }}</h2>
  {% endif %}

  <p class="govuk-body">{{ 'pages.proveIdentityNoPhotoId.content.paragraph2' | translateWithContext(context) }}</p>
  <ul class="govuk-list govuk-list--bullet ">
    <li>{{ 'pages.proveIdentityNoPhotoId.content.personalDetails.name' | translate }}</li>
    <li>{{ 'pages.proveIdentityNoPhotoId.content.personalDetails.dob' | translate }}</li>
    {% if context != "nino" %}
      <li>{{ 'pages.proveIdentityNoPhotoId.content.personalDetails.accountNumber' | translate }}</li>
      <li>{{ 'pages.proveIdentityNoPhotoId.content.personalDetails.NINumber' | translate }}</li>
    {% endif %}
    <li>{{ 'pages.proveIdentityNoPhotoId.content.personalDetails.address' | translate }}</li>
  </ul>

  {% if context != "nino" %}
    <h2 class="govuk-heading-m">{{ 'pages.proveIdentityNoPhotoId.content.subHeading2' | translate }}</h2>
  {% endif %}

  <p class="govuk-body">{{ 'pages.proveIdentityNoPhotoId.content.paragraph3' | translateWithContext(context) }}</p>

  <form id="proveIdentityNoPhotoIdOptionsForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.proveIdentityNoPhotoId.content.subHeading3' | translateWithContext(context),
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "next",
          text: 'pages.proveIdentityNoPhotoId.content.formRadioButtons.continueBankDetailsButtonText' | translate
        },
        {
          value: "end",
          text: 'pages.proveIdentityNoPhotoId.content.formRadioButtons.otherWayButtonText' | translate
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.proveIdentityNoPhotoId.content.formErrorMessage.errorRadioMessage' | translateWithContext(context) } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>
{% endblock %}
