{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.pyiPassportNoMatchAnotherWay.title' %}
{% set googleTagManagerPageId = "pyiPassportNoMatchAnotherWay" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pyiPassportNoMatchAnotherWay.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pyiPassportNoMatchAnotherWay.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#pyiPassportNoMatchAnotherWayForm" %}

{% set isPageDataSensitive = false %}
{% set contentID = 'ad68f4ca-6fb0-420a-8b52-4e80fb8dccc5' %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiPassportNoMatchAnotherWay.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pyiPassportNoMatchAnotherWay.content.paragraph1' | translate }}</p>

  <form id="pyiPassportNoMatchAnotherWayForm" action="/ipv/page/{{ pageId }}" method="POST" onsubmit="return pyiPassportNoMatchAnotherWayFormSubmit()">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.pyiPassportNoMatchAnotherWay.content.subHeading' | translate,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "next",
          text: 'pages.pyiPassportNoMatchAnotherWay.content.formRadioButtons.continueDrivingLicenceButtonText' | translate
        },
        {
          value: "end",
          text: 'pages.pyiPassportNoMatchAnotherWay.content.formRadioButtons.otherWayButtonText' | translate,
          hint: { text: 'pages.pyiPassportNoMatchAnotherWay.content.formRadioButtons.otherWayButtonTextHint' | translate }
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pyiPassportNoMatchAnotherWay.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>

  {% include "components/contact-us-link.njk" %}
{% endblock %}
