{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set pageTitleKey = 'pages.pyiTriageMobileDownload.title' %}
{% set googleTagManagerPageId = "pyiTriageMobileDownload" %}

{% set isPageDataSensitive = false %}
{% set contentID = '3cd71253-84b3-48d0-8083-6a52d94be222' %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">
      {{ 'pages.pyiTriageMobileDownload.header' | translate }}
  </h1>
  <p class="govuk-body">{{ 'pages.pyiTriageMobileDownload.content.paragraph1' | translate }}</p>
  <h2 class="govuk-heading-m">
    {{ 'pages.pyiTriageMobileDownload.content.subHeading1' | translate }}
  </h2>
  <p class="govuk-body">{{ 'pages.pyiTriageMobileDownload.content.paragraph2' | translate }}</p>
  <p class="govuk-body">{{ 'pages.pyiTriageMobileDownload.content.paragraph3' | translate }}</p>

  {% if context in ["iphone-appOnly", "android-appOnly"] %}
    {% set detailsHtml3 = 'pages.pyiTriageMobileDownload.content.details1.html' | translateWithContext("AppOnly") %}
  {% else %}
    {% set detailsHtml3 = 'pages.pyiTriageMobileDownload.content.details1.html' | translate %}
  {% endif %}

  {{ govukDetails({
      summaryText: 'pages.pyiTriageMobileDownload.content.details1.summaryText' | translate,
      html: detailsHtml3
  }) }}

  {{ govukButton({
    href: appDownloadUrl,
    text: 'pages.pyiTriageMobileDownload.content.button' | translate
  }) }}

  {{ govukDetails({
      summaryText: 'pages.pyiTriageMobileDownload.content.details2.summaryText' | translate,
      html: 'pages.pyiTriageMobileDownload.content.details2.html' | translate
  }) }}

  {{ govukDetails({
      summaryText: 'pages.pyiTriageMobileDownload.content.details3.summaryText' | translate,
      html: 'pages.pyiTriageMobileDownload.content.details3.html' | translate
  }) }}

  {% if context in ["iphone-appOnly", "android-appOnly"] %}
    {% set detailsHtml4 = 'pages.pyiTriageMobileDownload.content.details4.html' | translateWithContext("AppOnly") %}
  {% else %}
    {% set detailsHtml4 = 'pages.pyiTriageMobileDownload.content.details4.html' | translate %}
  {% endif %}

  {{ govukDetails({
      summaryText: 'pages.pyiTriageMobileDownload.content.details4.summaryText' | translate,
      html: detailsHtml4
  }) }}

  {% include "components/contact-us-link.njk" %}
{% endblock %}
