{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.pyiTriageBuffer.title' %}
{% set googleTagManagerPageId = "pyiTriageBuffer" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pyiTriageBuffer.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pyiTriageBuffer.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#pyiTriageBufferForm" %}

{% set isPageDataSensitive = false %}
{% set contentID = 'aa9df6b9-7d2e-4a1d-9f39-0b869cdd3878'%}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiTriageBuffer.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pyiTriageBuffer.content.paragraph1' | translate }}</p>

  <form id="pyiTriageBufferForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.pyiTriageBuffer.content.formRadioButtons.heading' | translate,
          classes: "govuk-fieldset__legend--m"
        }
    },
      items: [
        {
          value: "anotherWay",
          text: 'pages.pyiTriageBuffer.content.formRadioButtons.anotherWay' | translate,
          hint: {text: 'pages.pyiTriageBuffer.content.formRadioButtons.anotherWayHint' | translate}
        },
        {
          value: "back",
          text: 'pages.pyiTriageBuffer.content.formRadioButtons.back' | translate
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pyiTriageBuffer.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>
{% endblock %}
