{% extends "shared/base.njk" %}
{% from "components/journey-next-form.njk" import journeyNextForm %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitleKey = 'pages.pyiNoMatch.title' %}
{% set googleTagManagerPageId = "pyiNoMatch" %}
{% set isPageDynamic = true %}

{% set isPageDataSensitive = false %}
{% if pageContext.reason == "openBanking" %}
    {% set contentID = '1af99b4f-0075-44f9-83ec-2d9380815a26' %}
{% else %}
    {% set contentID = 'b3beb745-9110-4416-8741-37047a2b21cd' %}
{% endif %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiNoMatch.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pyiNoMatch.content.paragraph1' | translateWithPageContextOrFallback(pageContext, 'reason') }}</p>

  {% if pageContext.reason != "nino" and pageContext.reason != "openBanking" %}
    <p class="govuk-body">{{ 'pages.pyiNoMatch.content.paragraph2' | translate }}</p>
  {% endif %}

  {% if pageContext.reason == "openBanking" %}
    <p class="govuk-body">{{ 'pages.pyiNoMatch.content.paragraph2OpenBanking' | translate }}</p>
  {% endif %}

  {% if pageContext.reason == "repeatFraudCheck" %}
    {{ govukInsetText({
      text: 'pages.pyiNoMatch.content.insetTextRepeatFraudCheck' | translate
    }) }}
  {% endif %}


  <h2 class="govuk-heading-m">{{ 'pages.pyiNoMatch.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{ 'pages.pyiNoMatch.content.paragraph3' | translateWithPageContextOrFallback(pageContext, 'reason') }}</p>

  {{ journeyNextForm(pageId, csrfToken, 'general.buttons.continueToService' | translate ) }}

  {% include "components/contact-us-link.njk" %}
{% endblock %}
