{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitleKey = 'pages.pyiTriageSelectSmartphone.title' | translateWithContext(context) %}

{% set googleTagManagerPageId = "pyiTriageSelectSmartphone" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pyiTriageSelectSmartphone.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pyiTriageSelectSmartphone.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#pyiTriageSelectSmartphoneOptionsForm" %}

{% set showBack = true %}
{% set hrefBack = "/ipv/journey/pyi-triage-select-smartphone/back" %}

{% set isPageDataSensitive = false %}
{% if context == "mam" %}
  {% set contentID = '173ba833-aa88-42c8-aba0-8b9eb6b55079' %}
{% elif context == "dad" %}
  {% set contentID = 'f6756787-3e1a-4ddb-b733-e1e67cc0ab8b' %}
{% endif %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiTriageSelectSmartphone.header' | translateWithContext(context) }}</h1>
  <p class="govuk-body">{{ 'pages.pyiTriageSelectSmartphone.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{ 'pages.pyiTriageSelectSmartphone.content.paragraph2' | translate }}</p>

  {{ govukDetails({
    summaryText: 'pages.pyiTriageSelectSmartphone.content.details.summaryText' | translate,
    html: 'pages.pyiTriageSelectSmartphone.content.details.html' | translate
  }) }}

  <form id="pyiTriageSelectSmartphoneOptionsForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.pyiTriageSelectSmartphone.content.subHeading1' | translateWithContext(context),
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "iphone",
          text: 'pages.pyiTriageSelectSmartphone.content.formRadioButtons.iphoneButtonText' | translateWithContext(context)
        },
        {
          value: "android",
          text: 'pages.pyiTriageSelectSmartphone.content.formRadioButtons.androidButtonText' | translateWithContext(context)
        },
        {
          value: "neither",
          text: 'pages.pyiTriageSelectSmartphone.content.formRadioButtons.neitherButtonText' | translateWithContext(context)
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pyiTriageSelectSmartphone.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>
{% endblock %}
