{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.pyiTriageSelectDevice.title' %}
{% set googleTagManagerPageId = "pyiTriageSelectDevice" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pyiTriageSelectDevice.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pyiTriageSelectDevice.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#pyiTriageSelectDeviceForm" %}

{% set showBack = true %}
{% set hrefBack = "/ipv/journey/pyi-triage-select-device/back" %}

{% set isPageDataSensitive = false %}
{% set contentID = '0b936bee-23cb-4e87-8582-c23512e2646c' %}

{% block content %}
  <form id="pyiTriageSelectDeviceForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.pyiTriageSelectDevice.header' | translate,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: 'pages.pyiTriageSelectDevice.content.hint' | translate
      },
      items: [
        {
          value: "computer-or-tablet",
          text: 'pages.pyiTriageSelectDevice.content.formRadioButtons.onComputerOrTabletButtonText' | translate,
          hint: {text: 'pages.pyiTriageSelectDevice.content.formRadioButtons.onComputerOrTabletHint' | translate}
        },
        {
          value: "smartphone",
          text: 'pages.pyiTriageSelectDevice.content.formRadioButtons.onSmartphoneButtonText' | translate
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pyiTriageSelectDevice.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>
{% endblock %}
