{% extends "shared/base.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "components/journey-next-form.njk" import journeyNextForm %}

{% set pageTitleKey = 'pages.pyiTriageDesktopDownload.title' %}
{% set googleTagManagerPageId = "pyiTriageDesktopDownload" %}

{% set isPageDataSensitive = false %}
{% set contentID = '7a2fcf6e-8db7-44e6-9661-7b29204f1837' %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">
      {{ 'pages.pyiTriageDesktopDownload.header' | translate }}
  </h1>
  <p class="govuk-body">{{ 'pages.pyiTriageDesktopDownload.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{ 'pages.pyiTriageDesktopDownload.content.paragraph2' | translate }}</p>

  <ol class="govuk-list invisible">
    <li>
      <h2 class="govuk-heading-m">
          {{ 'pages.pyiTriageDesktopDownload.content.subHeading1' | translate }}
      </h2>

      <p class="govuk-body">{{ 'pages.pyiTriageDesktopDownload.content.paragraph3' | translate }}</p>

      {% set details1 %}
          <ol class="govuk-list govuk-list--number">
              <li>{{ 'pages.pyiTriageDesktopDownload.content.details1.list1' | translate }}</li>
              <li>{{ 'pages.pyiTriageDesktopDownload.content.details1.list2' | translate }}</li>
              <li>{{ 'pages.pyiTriageDesktopDownload.content.details1.list3' | translate }}</li>
              <li>{{ 'pages.pyiTriageDesktopDownload.content.details1.list4' | translate }}</li>
              <li>{{ 'pages.pyiTriageDesktopDownload.content.details1.list5' | translate }}</li>
          </ol>
      {% endset %}

      {{ govukDetails({
          summaryText: 'pages.pyiTriageDesktopDownload.content.details1.summaryText' | translate,
          html: details1
      }) }}

      {{ govukWarningText({
        text: 'pages.pyiTriageDesktopDownload.content.warningText' | translate,
        iconFallbackText: 'pages.pyiTriageDesktopDownload.content.warningTextFallback' | translate
      }) }}

      <p class="govuk-body">
        <img
          src='{{ qrCode }}'
          alt="{{ 'pages.pyiTriageDesktopDownload.content.qrCodeAlt' | translate }}"
        />
      </p>

      <h3 class="govuk-heading-s">
        {{ 'pages.pyiTriageDesktopDownload.content.subHeading2' | translate }}
      </h3>

      <ul class="govuk-list" role="list">
        <li>
          {% set details2 %}
            <ol class="govuk-list govuk-list--number">
              <li>{{ 'pages.pyiTriageDesktopDownload.content.details2.list1' | translate }}</li>
              <li>{{ 'pages.pyiTriageDesktopDownload.content.details2.list2' | translate }}</li>
              <li>{{ 'pages.pyiTriageDesktopDownload.content.details2.list3' | translate }}</li>
              <li>{{ 'pages.pyiTriageDesktopDownload.content.details2.list4' | translate }}</li>
            </ol>
          {% endset %}

          {{ govukDetails({
              summaryText: 'pages.pyiTriageDesktopDownload.content.details2.summaryText' | translate,
              html: details2
          }) }}
        </li>

        <li>
          {% if context in ["iphone-appOnly", "android-appOnly"] %}
            {% set detailsHtml3 = 'pages.pyiTriageDesktopDownload.content.details3.html' | translateWithContext("AppOnly") %}
          {% else %}
            {% set detailsHtml3 = 'pages.pyiTriageDesktopDownload.content.details3.html' | translate %}
          {% endif %}

          {{ govukDetails({
              summaryText: 'pages.pyiTriageDesktopDownload.content.details3.summaryText' | translate,
              html: detailsHtml3
          }) }}
        </li>

        <li>
          {{ govukDetails({
              summaryText: 'pages.pyiTriageDesktopDownload.content.details4.summaryText' | translate,
              html: 'pages.pyiTriageDesktopDownload.content.details4.html' | translate
          }) }}
        </li>

        <li>
          {% if context in ["iphone-appOnly", "android-appOnly"] %}
            {% set detailsHtml5 = 'pages.pyiTriageDesktopDownload.content.details5.html' | translateWithContext("AppOnly") %}
          {% else %}
            {% set detailsHtml5 = 'pages.pyiTriageDesktopDownload.content.details5.html' | translate %}
          {% endif %}

          {{ govukDetails({
              summaryText: 'pages.pyiTriageDesktopDownload.content.details5.summaryText' | translate,
              html: detailsHtml5
          }) }}
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </li>

    <li>
      <h2 class="govuk-heading-m">
          {{ 'pages.pyiTriageDesktopDownload.content.subHeading3' | translate }}
      </h2>

      <p class="govuk-body">{{ 'pages.pyiTriageDesktopDownload.content.paragraph4' | translate }}</p>

      <div id="dad-spinner-container"
          data-initial-spinnerStateText="{{ 'pages.pyiTriageDesktopDownload.content.spinner.initial.spinnerStateText' | translate }}"
          data-initial-spinnerState="{{ 'pages.pyiTriageDesktopDownload.content.spinner.initial.spinnerState' | translate }}"
          data-complete-spinnerStateText="{{ 'pages.pyiTriageDesktopDownload.content.spinner.complete.spinnerStateText' | translate }}"
          data-complete-spinnerState="spinner__ready"
          data-longWait-spinnerStateText="{{ 'pages.pyiTriageDesktopDownload.content.spinner.longWait.spinnerStateText' | translate }}"
          data-api-url="{{ apiUrl }}"
          data-ms-between-requests="{{msBetweenRequests}}"
          data-ms-before-informing-of-long-wait="{{msBeforeInformingOfLongWait}}"
          data-ms-before-abort="{{msBeforeAbort}}"
          data-aria-button-enabled-message="{{ 'pages.pyiTriageDesktopDownload.content.spinner.ariaButtonEnabledMessage' | translate }}"
        ></div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </li>

    <li>
      <h2 class="govuk-heading-m">
        {{ 'pages.pyiTriageDesktopDownload.content.subHeading4' | translate }}
      </h2>

      <p class="govuk-body">{{ 'pages.pyiTriageDesktopDownload.content.paragraph5' | translate }}</p>
      <p class="govuk-body">{{ 'pages.pyiTriageDesktopDownload.content.paragraph6' | translate }}</p>
    </li>
  </ol>

  {{ journeyNextForm(pageId, csrfToken, 'general.buttons.next' | translate) }}

  {% include "components/contact-us-link.njk" %}
{% endblock %}
