{% extends "shared/base.njk" %}
{% from "components/journey-next-form.njk" import journeyNextForm %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleKey = 'pages.pyiPassportNoMatch.title' %}
{% set googleTagManagerPageId = "pyiPassportNoMatch" %}

{% set isPageDataSensitive = false %}
{% set contentID = 'ec520840-8d96-40c3-9a74-727c9b3c2472' %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiPassportNoMatch.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pyiPassportNoMatch.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{ 'pages.pyiPassportNoMatch.content.paragraph2' | translate }}</p>

  {{ journeyNextForm(pageId, csrfToken, 'general.buttons.next' | translate ) }}

  {% include "components/contact-us-link.njk" %}
{% endblock %}
