{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleKey = 'pages.pyiAttemptRecovery.title' %}
{% set googleTagManagerPageId = "pyiAttemptRecovery" %}

{% set isPageDataSensitive = false %}
{% set contentID = '940221ef-47a9-400f-8ed0-bf0fd14f5586'%}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{'pages.pyiAttemptRecovery.header' | translate }}</h1>
  <p class="govuk-body">{{'pages.pyiAttemptRecovery.content.paragraph1' | translate }}</p>
  <h2 class="govuk-heading-m">{{'pages.pyiAttemptRecovery.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{'pages.pyiAttemptRecovery.content.paragraph2' | translate }}</p>

  <form id="attemptRecoveryForm" action="/ipv/page/pyi-attempt-recovery" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="journey" value="attempt-recovery">
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>

  {% include "components/contact-us-link.njk" %}
{% endblock %}
