{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.pyiContinueWithPassport.title' %}
{% set googleTagManagerPageId = "pyiContinueWithPassport" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pyiContinueWithPassport.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pyiContinueWithPassport.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#pyiContinueWithPassportForm" %}

{% set isPageDataSensitive = false %}
{% set contentID = '1f98b103-2695-4503-8fc4-09923037d4e3' %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiContinueWithPassport.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pyiContinueWithPassport.content.paragraph1' | translate }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for listItem in 'pages.pyiContinueWithPassport.content.requirements' | translate({ returnObjects: true }) %}
      <li>{{ listItem }}</li>
    {% endfor %}
  </ul>
  <p class="govuk-body">{{ 'pages.pyiContinueWithPassport.content.paragraph2' | translate }}</p>
  <p class="govuk-body">{{ 'pages.pyiContinueWithPassport.content.paragraph3' | translate }}</p>

  <form id="pyiContinueWithPassportForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.pyiContinueWithPassport.content.subHeading' | translate,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "next",
          text: 'pages.pyiContinueWithPassport.content.formRadioButtons.continuePassportButtonText' | translate,
          hint: {text: 'pages.pyiContinueWithPassport.content.formRadioButtons.continuePassportButtonTextHint' | translate}
        },
        {
          value: "end",
          text: 'pages.pyiContinueWithPassport.content.formRadioButtons.otherWayButtonText' | translate,
          hint: { text: 'pages.pyiContinueWithPassport.content.formRadioButtons.otherWayButtonTextHint' | translate }
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pyiContinueWithPassport.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>

  {% include "components/contact-us-link.njk" %}
{% endblock %}
