{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleKey = 'pages.pyiTimeoutUnrecoverable.title' %}
{% set googleTagManagerPageId = "pyiTimeoutUnrecoverable" %}

{% set isPageDataSensitive = false %}
{% set contentID = '6631f7f7-209c-4e02-b869-c51c922b9a4d' %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{'pages.pyiTimeoutUnrecoverable.header' | translate }}</h1>
  <p class="govuk-body">{{'pages.pyiTimeoutUnrecoverable.content.paragraph1' | translate }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for listItem in 'pages.pyiTimeoutUnrecoverable.content.signedOutReasons' | translate({ returnObjects: true }) %}
      <li>{{ listItem }}</li>
    {% endfor %}
  </ul>
  <h2 class="govuk-heading-m">{{'pages.pyiTimeoutUnrecoverable.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{'pages.pyiTimeoutUnrecoverable.content.paragraph2' | translate }}</p>
  {{ govukButton({
    "text": 'general.shared.govUKHomepageButtonText' | translate,
    "type": "Submit",
    "href": 'general.shared.govUKHomepageButtonHref' | translate
  }) }}

  {% include "components/contact-us-link.njk" %}
{% endblock %}
