{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.pyiTriageMobileConfirm.title' %}
{% set googleTagManagerPageId = "pyiTriageMobileConfirm" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pyiTriageMobileConfirm.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pyiTriageMobileConfirm.content.formErrorMessage.errorSummaryDescriptionText' | translateWithContext(context) %}
{% set errorHref = "#pyiTriageMobileConfirmForm" %}

{% set showBack = true %}
{% set hrefBack = "/ipv/journey/pyi-triage-mobile-confirm/back" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiTriageMobileConfirm.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pyiTriageMobileConfirm.content.paragraph1' | translateWithContext(context) }}</p>
  <p class="govuk-body">{{ 'pages.pyiTriageMobileConfirm.content.paragraph2' | translate }}</p>

  {% if context === "iphone" %}
    <h2 class="govuk-heading-m">{{ 'pages.pyiTriageMobileConfirm.content.subHeading1' | translate }}</h2>
    <p class="govuk-body">{{ 'pages.pyiTriageMobileConfirm.content.paragraph3' | translate }}</p>
    <h2 class="govuk-heading-m">{{ 'pages.pyiTriageMobileConfirm.content.subHeading2' | translate }}</h2>
    <p class="govuk-body">{{ 'pages.pyiTriageMobileConfirm.content.paragraph4' | translate }}</p>
    {{ govukDetails({
      summaryText: 'pages.pyiTriageMobileConfirm.content.details.summaryText' | translate,
      html: 'pages.pyiTriageMobileConfirm.content.details.html' | translate
    }) }}
  {% endif %}

  <form id="pyiTriageMobileConfirmForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.pyiTriageMobileConfirm.content.subHeadingQuestion' | translateWithContext(context),
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "next",
          text: 'pages.pyiTriageMobileConfirm.content.formRadioButtons.yes' | translate
        },
        {
          value: "otherDevice",
          text: 'pages.pyiTriageMobileConfirm.content.formRadioButtons.no' | translate
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pyiTriageMobileConfirm.content.formErrorMessage.errorRadioMessage' | translateWithContext(context) } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>
{% endblock %}
