{% extends "shared/base.njk" %}
{% from "components/journey-next-form.njk" import journeyNextForm %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleKey = 'pages.pyiDrivingLicenceNoMatch.title' %}
{% set googleTagManagerPageId = "pyiDrivingLicenceNoMatch" %}

{% set isPageDataSensitive = false %}
{% set contentID = 'd30bba04-d11f-449e-8b71-3467e3c441f5'%}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiDrivingLicenceNoMatch.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pyiDrivingLicenceNoMatch.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{ 'pages.pyiDrivingLicenceNoMatch.content.paragraph2' | translate }}</p>

  {{ journeyNextForm(pageId, csrfToken, 'general.buttons.next' | translate ) }}

  {% include "components/contact-us-link.njk" %}
{% endblock %}
