{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.pyiF2fTechnical.title' %}
{% set googleTagManagerPageId = "pyiF2fTechnical" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pyiF2fTechnical.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pyiF2fTechnical.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#pyiF2fTechnicalForm" %}

{% set isPageDataSensitive = false %}
{% set contentID = 'b963dbdf-23a6-462b-b479-5305918b8ac6' %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiF2fTechnical.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pyiF2fTechnical.content.paragraph1' | translate | safe }}</p>

  <form id="pyiF2fTechnicalForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.pyiF2fTechnical.content.subHeading' | translate,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "next",
          text: 'pages.pyiF2fTechnical.content.formRadioButtons.tryAgainButtonText' | translate
        },
        {
          value: "end",
          text: 'pages.pyiF2fTechnical.content.formRadioButtons.continueButtonText' | translate
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pyiF2fTechnical.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>

  {% include "components/contact-us-link.njk" %}
{% endblock %}
