{% extends "shared/base.njk" %}
{% from "components/journey-next-form.njk" import journeyNextForm %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleKey = 'pages.reproveIdentityStart.title' %}
{% set googleTagManagerPageId = "reproveIdentityStart" %}
{% set isPageDynamic = false %}

{% set isPageDataSensitive = false %}
{% set contentID = 'edbce4d2-6ca3-4bad-904c-43227f65721e'%}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{ 'pages.reproveIdentityStart.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.reproveIdentityStart.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{ 'pages.reproveIdentityStart.content.paragraph2' | translate }}</p>

  {{ journeyNextForm(pageId, csrfToken, 'general.buttons.next' | translate ) }}
{% endblock %}
