{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set pageTitleKey = 'pages.retryProveIdentityApp.title' %}
{% set googleTagManagerPageId = "retryProveIdentityApp" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.retryProveIdentityApp.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.retryProveIdentityApp.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#retryProveIdentityAppForm" %}

{% set isPageDataSensitive = false %}
{% set contentID = '1cb1c1bc-62ad-4124-9da2-6260ffbe9c73'%}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.retryProveIdentityApp.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.retryProveIdentityApp.content.paragraph1' | translate }}</p>
  <ul class="govuk-list govuk-list--bullet" role="list">
    <li>{{ 'pages.retryProveIdentityApp.content.list1' | translate }}</li>
    <li>{{ 'pages.retryProveIdentityApp.content.list2' | translate }}</li>
  </ul>
  <p class="govuk-body">{{ 'pages.retryProveIdentityApp.content.paragraph2' | translate }}</p>

  {% set detailsHtml %}
    <p class="govuk-body">{{ 'pages.retryProveIdentityApp.content.details.p1' | translate }}</p>
    <p class="govuk-body">{{ 'pages.retryProveIdentityApp.content.details.p2' | translate }}</p>
  {% endset %}

  {{ govukDetails({
    summaryText: 'pages.retryProveIdentityApp.content.details.title' | translate,
    html: detailsHtml
  }) }}

  <form id="retryProveIdentityAppForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.retryProveIdentityApp.content.subHeading' | translate,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "useApp",
          text: 'pages.retryProveIdentityApp.content.formRadioButtons.useApp' | translate
        },
        {
          value: "returnToRp",
          text: 'pages.retryProveIdentityApp.content.formRadioButtons.returnToRp' | translate,
          hint: {
            text: 'pages.retryProveIdentityApp.content.formRadioButtons.returnToRpHint' | translate
          }
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.retryProveIdentityApp.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    {{ govukButton({
      id: "submitButton",
      text: 'general.buttons.next' | translate
    }) }}
  </form>

  {% include "components/contact-us-link.njk" %}
{% endblock %}
