{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.sorryCouldNotConfirmDetails.title' %}
{% set googleTagManagerPageId = "sorryCouldNotConfirmDetails" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.sorryCouldNotConfirmDetails.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.sorryCouldNotConfirmDetails.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#sorryCouldNotConfirmDetailsActionForm" %}

{% set isPageDataSensitive = false %}
{% set contentID = '8c3342f4-d840-4373-a0fb-7dcfa5e94d1d' %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.sorryCouldNotConfirmDetails.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.sorryCouldNotConfirmDetails.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{ 'pages.sorryCouldNotConfirmDetails.content.paragraph2' | translate }}</p>

  {% if context %}
  <p class="govuk-body">{{ 'pages.sorryCouldNotConfirmDetails.content.paragraph3' | translateWithContext(context) }}</p>
  {%
    set deleteOption = {
        value: "delete",
        text: 'pages.sorryCouldNotConfirmDetails.content.formRadioButtons.deleteOption' | translate,
        hint: { text: 'pages.sorryCouldNotConfirmDetails.content.formRadioButtons.deleteOptionHint' | translate }
      }
  %}
  {%
    set returnToServiceOption = {
        value: "returnToRp",
          text: 'pages.sorryCouldNotConfirmDetails.content.formRadioButtons.returnToService' | translateWithContext(context),
          hint: { text: 'pages.sorryCouldNotConfirmDetails.content.formRadioButtons.returnToServiceHint' | translateWithContext(context) }
      }
  %}
  {% endif %}

  {% if context == "existingIdentityInvalid" %}
    {% set radioItems = [ deleteOption, returnToServiceOption] %}
  {% elif context == "existingIdentityValid" %}
    {% set radioItems = [ returnToServiceOption, deleteOption] %}
  {% else %}
  {%
    set radioItems = [
      {
          value: "contact",
          text: 'pages.sorryCouldNotConfirmDetails.content.formRadioButtons.contactOption' | translate,
          hint: { text: 'pages.sorryCouldNotConfirmDetails.content.formRadioButtons.contactOptionHint' | translate }
      },
      {
          value: "end",
          text: 'pages.sorryCouldNotConfirmDetails.content.formRadioButtons.endOption' | translate
      }]
  %}
  {% endif %}

  <form id="sorryCouldNotConfirmDetailsActionForm" action="/ipv/page/{{ pageId }}" method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {% set radiosConfig = {
          idPrefix: "journey",
          name: "journey",
          fieldset: {
              legend: {
                  text: 'pages.sorryCouldNotConfirmDetails.content.subHeading' | translate,
                  classes: "govuk-fieldset__legend--m"
              }
          },
          items: radioItems
      }
      %}

      {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.sorryCouldNotConfirmDetails.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
      {% endif %}

      {{ govukRadios(radiosConfig) }}
      {{ govukButton({
          id: "submitButton",
          text: 'general.buttons.next' | translate
        }) }}
  </form>
{% endblock %}
