{% extends "shared/base.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitleKey = 'pages.sorryTechnicalProblem.title' %}
{% set googleTagManagerPageId = "sorryTechnicalProblem" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.sorryTechnicalProblem.content.formErrorMessage.title' | translate %}
{% set errorText = 'pages.sorryTechnicalProblem.content.formErrorMessage.description' | translate %}
{% set errorHref = "#sorryTechnicalProblem" %}

{% set whatsNeededToUseTheApp %}
    <p class="govuk-body">{{ 'pages.sorryTechnicalProblem.content.details.p1' | translate }}</p>
    <p class="govuk-body">{{ 'pages.sorryTechnicalProblem.content.details.p2' | translate }}</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for listItem in 'pages.sorryTechnicalProblem.content.details.iphoneTypes' | translate({ returnObjects: true }) %}
        <li>{{ listItem }}</li>
      {% endfor %}
    </ul>
    <p class="govuk-body">{{ 'pages.sorryTechnicalProblem.content.details.p3' | translate }}</p>
    <p class="govuk-body">{{ 'pages.sorryTechnicalProblem.content.details.p4' | translate }}</p>
{% endset %}

{% block content %}
    <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.sorryTechnicalProblem.header' | translate }}</h1>
    <p class="govuk-body">{{ 'pages.sorryTechnicalProblem.content.p1' | translate }}</p>

    <h2 class="govuk-heading-m">{{ 'pages.sorryTechnicalProblem.content.subHeading1' | translate }}</h2>
    <p class="govuk-body">{{ 'pages.sorryTechnicalProblem.content.p2' | translate }}</p>
    <p class="govuk-body">{{ 'pages.sorryTechnicalProblem.content.p3' | translate }}</p>

    {{ govukDetails({
        summaryText: 'pages.sorryTechnicalProblem.content.details.title' | translate,
        html: whatsNeededToUseTheApp,
        id: 'whatsNeededToUseTheApp'
    }) }}

    <p class="govuk-body">{{ 'pages.sorryTechnicalProblem.content.p4' | translateWithContext(context) }}</p>

    <form id="sorryTechnicalProblem" action="/ipv/page/{{ pageId }}" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% set initialRadioOptions = [
            {
                value: "tryAgain",
                text: 'pages.sorryTechnicalProblem.content.formRadioButtons.tryAgain' | translate
            },
            {
                value: "app",
                text: 'pages.sorryTechnicalProblem.content.formRadioButtons.app' | translate,
                hint: { text: 'pages.sorryTechnicalProblem.content.formRadioButtons.appHint' | translate }
            }
        ] %}
        {% if context == 'f2fCriError' %}
            {% set initialRadioOptions = initialRadioOptions.concat([{
                value: "webRoute",
                text: 'pages.sorryTechnicalProblem.content.formRadioButtons.webRoute' | translate,
                hint: { text: 'pages.sorryTechnicalProblem.content.formRadioButtons.webRouteHint' | translate }
            }]) %}
        {% else %}
            {% set initialRadioOptions = initialRadioOptions.concat([{
                value: "postOffice",
                text: 'pages.sorryTechnicalProblem.content.formRadioButtons.postOffice' | translate,
                hint: { text: 'pages.sorryTechnicalProblem.content.formRadioButtons.postOfficeHint' | translate }
            }]) %}
        {% endif %}

        {% set finalRadioOptions = [{
                 divider: "or"
             },
             {
                 value: "returnToRp",
                 text: 'pages.sorryTechnicalProblem.content.formRadioButtons.returnToRp' | translate
             }]
        %}

        {% set radiosConfig = {
            idPrefix: "journey",
            name: "journey",
            fieldset: {
                legend: {
                    text: 'pages.sorryTechnicalProblem.content.subHeading2' | translate,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            items: initialRadioOptions.concat(finalRadioOptions)
        } %}

        {% if errorState %}
          {% set errorMessageObject = { 'text': 'pages.sorryTechnicalProblem.content.formErrorMessage.errorRadioMessage' | translate } %}
          {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
        {% endif %}

        {{ govukRadios(radiosConfig) }}
        {{ govukButton({
          id: "submitButton",
          text: 'general.buttons.next' | translate
        }) }}
    </form>

    {% include "components/contact-us-link.njk" %}
{% endblock %}
