{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.updateDetailsFailed.title' %}
{% set googleTagManagerPageId = "updateDetailsFailed" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.updateDetailsFailed.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.updateDetailsFailed.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#updateDetailsFailedActionForm" %}

{% set isPageDataSensitive = false %}
{% set contentID = '25ca3bb3-784a-4ac5-a42a-ca40c9721ec6' %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.updateDetailsFailed.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.updateDetailsFailed.content.paragraph1' | translateWithContext(context) }}</p>

  <form id="updateDetailsFailedActionForm" action="/ipv/page/{{ pageId }}" method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
         {% if context == "existingIdentityInvalid" %}
            {% set radioOptions =
              [
                   {
                   value: "delete",
                   text: 'pages.updateDetailsFailed.content.formRadioButtons.delete' | translate,
                   hint: { text: 'pages.updateDetailsFailed.content.formRadioButtons.deleteHint' | translate }
                   },
                  {
                  value: "return-to-service",
                  text: 'pages.updateDetailsFailed.content.formRadioButtons.returnToService' | translate,
                  hint: { text: 'pages.updateDetailsFailed.content.formRadioButtons.returnToServiceHint' | translate }
                  }
              ]
            %}
          {% else %}
            {% set radioOptions =
              [
                  {
                  value: "continue",
                  text: 'pages.updateDetailsFailed.content.formRadioButtons.continue' | translate,
                  hint: { text: 'pages.updateDetailsFailed.content.formRadioButtons.continueHint' | translate }
                  },
                  {
                  value: "delete",
                  text: 'pages.updateDetailsFailed.content.formRadioButtons.delete' | translate,
                  hint: { text: 'pages.updateDetailsFailed.content.formRadioButtons.deleteHint' | translate }
                  }
              ]
            %}
          {% endif %}
      {% set radiosConfig = {
          idPrefix: "journey",
          name: "journey",
          fieldset: {
              legend: {
                  text: 'pages.updateDetailsFailed.content.subHeading' | translate,
                  classes: "govuk-fieldset__legend--m"
              }
          },
          items: radioOptions
      }
      %}

      {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.updateDetailsFailed.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
      {% endif %}

      {{ govukRadios(radiosConfig) }}
      {{ govukButton({
          id: "submitButton",
          text: 'general.buttons.next' | translate
        }) }}
  </form>
{% endblock %}
