{% extends "hmpo-template.njk" %}

{% from "govuk/components/button/macro.njk"                 import govukButton %}
{% from "govuk/components/phase-banner/macro.njk"           import govukPhaseBanner %}
{% from "govuk/components/warning-text/macro.njk"           import govukWarningText %}
{% from "govuk/components/details/macro.njk"                import govukDetails %}
{% from "govuk/components/cookie-banner/macro.njk"          import govukCookieBanner %}

{% set hmpoPageTitle = "pages."+hmpoPageKey+".title" %}
{% set hmpoPageTitleServiceNameRequired = "pages."+hmpoPageKey+".serviceNameRequired" %}
{% set hmpoPageHtmlContent = "pages."+hmpoPageKey+".htmlContent" %}

{% block pageTitle %}
    {% if translate("pages."+hmpoPageKey+".serviceNameRequired") == 'true' %}
        {{ translate(hmpoPageTitle) }} – Prove your identity – GOV.UK
    {% else %}
        {{ translate(hmpoPageTitle) }} – GOV.UK
    {% endif %}
{% endblock %}


{% block cookieBanner %}
{% include 'shared/banner.njk' %}
{% endblock %}

{% block govukHeader %}
{# to remediate accessibility issues the header does not include the service name #}
{# this overrides the behaviour in hmpo-template.njk and calls the 'minimal' GOV.UK header #}
{{ govukHeader({ homepageUrl: "https://www.gov.uk/" }) }}
{% endblock %}


{# the BETA banner is added to all pages using this template by default #}
{% block beforeContent %}
    {{ govukPhaseBanner({
    tag: { text: "beta" },
    html: 'This is a new service – your <a class="govuk-link" rel="noopener" target="_blank" href="https://signin.account.gov.uk/contact-us">feedback (opens in new tab)</a>  will help us to improve it.'
    }) }}
{% endblock %}

{# generate the specific footer items required for the PYI flows #}

{% set footerNavItems = translate("govuk.footerNavItems") %}
{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}

{% block bodyEnd %}
{% block scripts %}{% endblock %}
<script type="text/javascript"  src="/public/javascripts/application.js"></script>
<script type="text/javascript" nonce='{{ scriptNonce }}'>window.GOVSignIn.appInit("{{ gtmId }}", "{{ analyticsCookieDomain }}", "{{ hmpoPageKey }}")</script>
{% endblock %}
