{% from "govuk/components/button/macro.njk" import govukButton %}

<form id="nextForm" action="/ipv/page/{{pageId}}" method="POST" onsubmit="return nextFormSubmit()">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button name="submitButton" class="govuk-button button" data-module="govuk-button" id="submitButton">
        {{translate("buttons.next")}}
    </button>
</form>

<script>
    let disableSubmit = false;
    function nextFormSubmit() {
      if(!disableSubmit) {
        disableSubmit = true;
        document.getElementById('submitButton').disabled = true;
        return true
      }
      return false;
    }
</script>
