{% from "govuk/components/button/macro.njk" import govukButton %}

<form id="nextForm" action="/ipv/page/{{pageId}}" method="POST" onsubmit="return nextFormSubmit()">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input id="nextSubmit" type="submit" class="govuk-button" value="{{translate("buttons.next")}}">
</form>

<script>
    let disableSubmit = false;
    function nextFormSubmit() {
      if(!disableSubmit) {
        disableSubmit = true;
        document.getElementById('nextSubmit').disabled = true;
        return true
      }
      return false;
    }
</script>
