{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro journeyNextForm(pageId, csrfToken, buttonLabel) %}
<form id="nextForm" action="/ipv/page/{{pageId}}" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="journey" value="next">
      {{ govukButton({
          id: "submitButton",
          text: buttonLabel,
          attributes: {"data-nav": true,"data-link": "/undefined"}
      }) }}
</form>
{% endmacro %}
