<p class="govuk-body">{{ 'components.typesOfPhotoId.paragraph1' | translate }}</p>
<ul class="govuk-list--bullet">
  {% for listItem in 'general.shared.suitableAppPhotoIds' | translate({ returnObjects: true }) %}
    <li>{{ listItem }}</li>
  {% endfor %}
</ul>
<p class="govuk-body">{{ 'components.typesOfPhotoId.paragraph2' | translate }}</p>
<ul class="govuk-list--bullet">
  {% for listItem in 'components.typesOfPhotoId.postOfficeDocumentList' | translate({ returnObjects: true }) %}
    <li>{{ listItem }}</li>
  {% endfor %}
</ul>
