{% extends "shared/base.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set pageTitleKey = 'pages.confirmNameDateBirth.title' %}
{% set googleTagManagerPageId = "confirmNameDateBirth" %}
{% set isPageDynamic = false %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.confirmNameDateBirth.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.confirmNameDateBirth.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#confirmNameDateBirthActionForm" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}"
    xmlns="http://www.w3.org/1999/html">{{ 'pages.confirmNameDateBirth.header' | translate }}</h1>

  <p class="govuk-body">{{'pages.confirmNameDateBirth.content.paragraph1' | translate }}</p>

    {% set rows = [
      {
        key: {
          text: 'pages.confirmNameDateBirth.content.summaryListHeading1' | translate
        },
        value: {
          text: userDetails.name
        }
      },
      {
        key: {
          text: 'pages.confirmNameDateBirth.content.summaryListHeading2' | translate
        },
        value: {
          text: userDetails.dateOfBirth | GDSDate
        }
      }
    ] %}

    {{ govukSummaryList({
      rows: rows
    }) }}

    <form id="confirmNameDateBirthActionForm" action="/ipv/page/{{ pageId }}" method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {% set radiosConfig = {
        idPrefix: "journey",
        name: "journey",
        fieldset: {
          legend: {
            text: 'pages.confirmNameDateBirth.content.radioButtonHeading' | translate,
            classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "next",
              text: 'pages.confirmNameDateBirth.content.formRadioButtons.yes' | translate
            },
            {
              value: "end",
              text: 'pages.confirmNameDateBirth.content.formRadioButtons.no' | translateWithContext(context)
            }
          ]
        }%}

        {% if errorState %}
          {% set errorMessageObject = { 'text': 'pages.confirmNameDateBirth.content.formErrorMessage.errorRadioMessage' | translate } %}
          {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
        {% endif %}

        {{ govukRadios(radiosConfig) }}
        <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
          {{ 'general.buttons.next' | translate }}
        </button>
    </form>
{% endblock %}
