{% extends "shared/base.njk" %}
{% set pageTitleKey = 'pages.deleteIdentity.title' %}
{% set googleTagManagerPageId = "deleteIdentity" %}
{% set isPageDynamic = false %}
{% set showBack = true %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{ 'pages.deleteIdentity.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.deleteIdentity.content.paragraph1Html' | translate | safe }}</p>
  <p class="govuk-body">{{ 'pages.deleteIdentity.content.paragraph2' | translate  }}</p>

  {% include 'shared/journey-next-form.njk' %}
{% endblock %}
