{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.proveIdentityBankAccount.title' | translateWithContext(context) %}
{% set googleTagManagerPageId = "proveIdentityBankAccount" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.proveIdentityBankAccount.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.proveIdentityBankAccount.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#proveIdentityBankAccountOptionsForm" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.proveIdentityBankAccount.header' | translateWithContext(context) }}</h1>
  {% if context != "NINumber" %}
    <p class="govuk-body">{{ 'pages.proveIdentityBankAccount.content.paragraph1' | translate }}</p>
    <h2 class="govuk-heading-m">{{ 'pages.proveIdentityBankAccount.content.subHeading' | translate }}</h2>
  {% endif %}

  <p class="govuk-body">{{ 'pages.proveIdentityBankAccount.content.paragraph2' | translateWithContext(context) }}</p>
  <ul class="govuk-list govuk-list--bullet ">
    {% for listItem in 'pages.proveIdentityBankAccount.content.personalDetails' | translateWithContext(context, { returnObjects: true }) %}
      <li>{{ listItem }}</li>
    {% endfor %}
  </ul>

  {% if context != "NINumber" %}
    <h2 class="govuk-heading-m">{{ 'pages.proveIdentityBankAccount.content.subHeading2' | translate }}</h2>
  {% endif %}

  <p class="govuk-body">{{ 'pages.proveIdentityBankAccount.content.paragraph3' | translateWithContext(context) }}</p>

  <form id="proveIdentityBankAccountOptionsForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.proveIdentityBankAccount.content.subHeading3' | translateWithContext(context),
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "next",
          text: 'pages.proveIdentityBankAccount.content.formRadioButtons.continueBankDetailsButtonText' | translate
        },
        {
          value: "end",
          text: 'pages.proveIdentityBankAccount.content.formRadioButtons.otherWayButtonText' | translateWithContext(context)
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.proveIdentityBankAccount.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
      {{ 'general.buttons.next' | translate }}
    </button>
  </form>
{% endblock %}
