{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set pageTitleKey = 'pages.pyiTriageMobileDownload.title' %}
{% set googleTagManagerPageId = "pyiTriageMobileDownload" %}

{% block content %}
    <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">
        {{ 'pages.pyiTriageMobileDownload.header' | translate }}
    </h1>

    <h2 class="govuk-heading-m">
        {{ 'pages.pyiTriageMobileDownload.section1.heading' | translate }}
    </h2>
    <p class="govuk-body">{{ 'pages.pyiTriageMobileDownload.section1.paragraph1' | translate }}</p>

    {{ govukButton({
      href: appDownloadUrl,
      text: 'pages.pyiTriageMobileDownload.section1.button' | translate
    }) }}

    {{ govukDetails({
        summaryText: 'pages.pyiTriageMobileDownload.section1.details.summaryText' | translate,
        text: 'pages.pyiTriageMobileDownload.section1.details.text' | translate
    }) }}

    <h2 class="govuk-heading-m">
        {{ 'pages.pyiTriageMobileDownload.section2.heading' | translate }}
    </h2>

    <p class="govuk-body">{{ 'pages.pyiTriageMobileDownload.section2.paragraph1' | translate }}</p>
    <p class="govuk-body">{{ 'pages.pyiTriageMobileDownload.section2.paragraph2' | translate }}</p>

    <form id="pyiTriageMobileDownloadForm" action="/ipv/page/{{ pageId }}" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ govukButton({
          id: "submitButton",
          text: 'general.buttons.next' | translate
        }) }}
    </form>

    {{ govukInsetText({
        html: 'pages.pyiTriageMobileDownload.section2.inset' | translate( { contactUsUrl: contactUsUrl } ) | safe
    }) }}

{% endblock %}
