{% extends "shared/base.njk" %}
{% import "components/journeyNextForm/journey-next-form.njk" as journeyNextForm %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleKey = 'pages.pyiPassportNoMatch.title' %}
{% set googleTagManagerPageId = "pyiPassportNoMatch" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiPassportNoMatch.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pyiPassportNoMatch.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{ 'pages.pyiPassportNoMatch.content.paragraph2' | translate }}</p>

  {{ journeyNextForm.journeyNextForm(pageId, csrfToken, 'general.buttons.next' | translate ) }}

  {% include "components/contact-us-link.njk" %}
{% endblock %}
