{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleKey = 'pages.pyiTimeoutRecoverable.title' %}
{% set googleTagManagerPageId = "pyiTimeoutRecoverable" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{'pages.pyiTimeoutRecoverable.header' | translate }}</h1>
  <p class="govuk-body">{{'pages.pyiTimeoutRecoverable.content.paragraph1' | translate }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for listItem in 'pages.pyiTimeoutRecoverable.content.signedOutReasons' | translate({ returnObjects: true }) %}
      <li>{{ listItem }}</li>
    {% endfor %}
  </ul>
  <h2 class="govuk-heading-m">{{'pages.pyiTimeoutRecoverable.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{'pages.pyiTimeoutRecoverable.content.paragraph2' | translate }}</p>
  <ol class="govuk-list govuk-list--number">
    {% for listItem in 'pages.pyiTimeoutRecoverable.content.possibleActions' | translate({ returnObjects: true }) %}
      <li>{{ listItem }}</li>
    {% endfor %}
  </ol>
  <p class="govuk-body">{{'pages.pyiTimeoutRecoverable.content.paragraph3' | translate }}</p>
  <form id="timeoutRecoverableForm" action="/ipv/page/pyi-timeout-recoverable" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="journey" value="build-client-oauth-response">
    <button name="submitButton" class="govuk-button button" data-module="govuk-button" id="submitButton">
      {{'general.buttons.next' | translate }}
    </button>
  </form>

  <p class="govuk-body"><a target="_blank" rel="noopener noreferrer" href="{{contactUsUrl}}" class="govuk-link">{{'general.shared.contactLinkText' | translate }}</a></p>
{% endblock %}
