{% extends "shared/base.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleKey = 'pages.pyiNewDetails.title' %}
{% set googleTagManagerPageId = "pyiNewDetails" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pyiNewDetails.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pyiNewDetails.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#pyiNewDetailsActionForm" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}"
      xmlns="http://www.w3.org/1999/html">{{ 'pages.pyiNewDetails.header' | translate }}</h1>

  <p class="govuk-body">{{ 'pages.pyiNewDetails.content.paragraph1' | translate }}</p>

  <ul class="govuk-list govuk-list--bullet">
    {% for listItem in 'pages.pyiNewDetails.content.updateDetailsTodo' | translate({ returnObjects: true }) %}
      <li>{{ listItem }}</li>
    {% endfor %}
  </ul>

  <p class="govuk-body">{{ 'pages.pyiNewDetails.content.paragraph2' | translate }}</p>

  <ul class="govuk-list govuk-list--bullet">
    {% for listItem in 'pages.pyiNewDetails.content.updateDetailsRequirements' | translate({ returnObjects: true }) %}
      <li>{{ listItem }}</li>
    {% endfor %}
  </ul>

  <p class="govuk-body">{{ 'pages.pyiNewDetails.content.paragraph3' | translate | safe}}</p>

  {{ govukWarningText({
    text: 'pages.pyiNewDetails.content.warningTextContent' | translate,
    iconFallbackText: 'pages.pyiNewDetails.content.warningTextFallback' | translate
  }) }}

  <h2 class="govuk-heading-m">{{ 'pages.pyiNewDetails.content.subHeading1' | translate }}</h2>

  <p class="govuk-body">{{ 'pages.pyiNewDetails.content.paragraph4' | translate}}</p>
  <p class="govuk-body">{{ 'pages.pyiNewDetails.content.paragraph5' | translate}}</p>

  <h2 class="govuk-heading-m">{{ 'pages.pyiNewDetails.content.subHeading2' | translate }}</h2>

  <form id="pyiNewDetailsActionForm" action="/ipv/page/{{pageId}}" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      items: [
                {
                  value: "next",
                  text: 'pages.pyiNewDetails.content.formRadioButtons.yes' | translate
                },
                {
                  value: "end",
                  text: 'pages.pyiNewDetails.content.formRadioButtons.no' | translate
                }
              ]
        }
    %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pyiNewDetails.content.formErrorMessage.errorMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
      {{ 'general.buttons.next' | translate }}
    </button>
  </form>
{% endblock %}
