{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleKey = 'pages.reproveIdentityStart.title' %}
{% set googleTagManagerPageId = "reproveIdentityStart" %}
{% set isPageDynamic = false %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{ 'pages.reproveIdentityStart.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.reproveIdentityStart.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{ 'pages.reproveIdentityStart.content.paragraph2' | translate }}</p>

  {% include 'components/journey-next-form.njk' %}
{% endblock %}
