{% extends "shared/base.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitleKey = 'pages.updateNameDateBirth.title' %}
{% set googleTagManagerPageId = "updateNameDateBirth" %}
{% set isPageDynamic = false %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.updateNameDateBirth.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.updateNameDateBirth.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#updateNameDateBirthActionForm" %}

{% block content %}
    <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}"
        xmlns="http://www.w3.org/1999/html">{{ 'pages.updateNameDateBirth.header' | translate }}</h1>

    <p class="govuk-body">{{'pages.updateNameDateBirth.content.paragraph1' | translate }}</p>

    {{ govukWarningText({
        text: 'pages.updateNameDateBirth.content.warningText' | translate,
        iconFallbackText: 'pages.updateNameDateBirth.content.warningTextFallback' | translate
        }) }}   


    <form id="updateNameDateBirthActionForm" action="/ipv/page/{{ pageId }}" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% set radiosConfig = {
            idPrefix: "journey",
            name: "journey",
            fieldset: {
                legend: {
                    text: 'pages.updateNameDateBirth.content.radioButtonHeading' | translate,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                    {
                    value: "contact",
                    text: 'pages.updateNameDateBirth.content.formRadioButtons.yes' | translate
                    },
                    {
                    value: "end",
                    text: 'pages.updateNameDateBirth.content.formRadioButtons.no' | translateWithContext(context)
                    }
                ]
        }
        %}

        {% if errorState %}
        {% set errorMessageObject = { 'text': 'pages.updateNameDateBirth.content.formErrorMessage.errorRadioMessage' | translate } %}
        {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
        {% endif %}
        
        {{ govukRadios(radiosConfig) }}
        <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
        {{ 'general.buttons.next' | translate }}
        </button>
    </form>
{% endblock %}