services:
  browser-tests-core-back-imposter:
    container_name: browser-tests-core-back-imposter
    build:
      context: .
      dockerfile: imposter/Dockerfile
    ports:
      - "4602:8080"

  browser-tests-core-front:
    container_name: browser-tests-core-front
    build:
      context: ..
      dockerfile: dev-deploy/Dockerfile
    depends_on:
      browser-tests-core-back-imposter:
        condition: service_healthy
    environment:
      PORT: 4601
      NODE_ENV: local
      ENABLE_PREVIEW: development
      SESSION_SECRET: session-secret #pragma: allowlist secret
      API_BASE_URL: http://browser-tests-core-back-imposter:8080
      EXTERNAL_WEBSITE_HOST: http://localhost:4601
      CONTACT_URL: https://home.account.gov.uk/contact-gov-uk-one-login
      LANGUAGE_TOGGLE: true
      USE_DEVICE_INTELLIGENCE: true
      MAY_2025_REBRAND_ENABLED: true
      SERVICE_URL: http://localhost:4601
# Note that due to how snapshot tests work the pageIds here include the language so the banners only appear in one language version of the snapshot. We also can't test banner contexts in snapshot tests as the all-templates page shortcuts a lot of stuff.
      NOTIFICATION_BANNER: '[{"pages": [ { "pageId":"/dev/template/live-in-uk/en" } ],"bannerMessage":"<h3>Test banner</h3> <p>This is a test banner <a class=\"govuk-notification-banner__link\" href=\"#\">with a dummy link</a></p>","bannerMessageCy":"Not seen","startTime":"2024-10-25T06:14:40.162+0000","endTime":"2030-10-25T06:14:40.162+0000"}]'
    ports:
      - "4601:4601"
      - "5101:9229"
    command:
      - node
      - "--enable-source-maps"
      - "--inspect=0.0.0.0"
      - "build/app.js"
    healthcheck:
      test: wget --spider http://localhost:4601/healthcheck || exit 1
      interval: 5s
      timeout: 3s
      retries: 3

  browser-tests-tests:
    container_name: browser-tests-tests
    build:
      context: ..
      dockerfile: browser-tests/Dockerfile
    depends_on:
      browser-tests-core-front:
        condition: service_healthy
    volumes:
      - ./snapshot-tests/snapshot.spec.ts-snapshots:/browser-tests/snapshot-tests/snapshot.spec.ts-snapshots
      - ./test-results:/browser-tests/test-results
    environment:
      WEBSITE_HOST: http://localhost:4601
    command: npm run ${NPM_COMMAND:-test}
    network_mode: "host"
