{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "shared/base.njk" %}
{% set pageTitleKey = "All templates" %}
{% set rowClasses = "govuk-grid-column-full" %}

{% if errorState %}
    {% set errorText = 'Select a page and a context if appropriate.' %}
{% endif %}

{% block content %}
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Template</th>
      <th scope="col" class="govuk-table__header">Context</th>
      <th scope="col" class="govuk-table__header">Error State</th>
      <th scope="col" class="govuk-table__header">Submit</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

  {% for page, contexts in templatesWithContextRadioOptions %}
  <form action="/dev/all-templates" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <input type="hidden" name="template" value="{{ page }}">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        {{ page }}
      </th>
      <td class="govuk-table__cell">
        {% if contexts | length %}
          {{ govukSelect({
            name: "pageContext",
            selected: contexts[0].value,
            items: contexts
          }) }}
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <h3 class="govuk-!-margin-0 govuk-!-font-size-19 govuk-!-font-weight-regular govuk-details__summary-text">
                Page context key
              </h3>
            </summary>
            <div class="govuk-details__text">
            <table class="govuk-table">
              {% for pageContext in contexts %}

                  {% if pageContext.text != "No context" %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      {{ pageContext.text }}:
                    </th>
                    <td class="govuk-table__cell">
                      {{ pageContext.value | jsonToList | safe }}
                    </td>
                  </tr>
                  {% endif %}

              {% endfor %}
            </table>
            </div>
          </details>
        {% else %}
          <span class="govuk-body">No context</span>
        {% endif %}
      </td>
      <td class="govuk-table__cell">
        {{ govukCheckboxes({
          name: "hasErrorState",
          items: [
            {
              text: "Error",
              value: "true"
            }
          ]
        }) }}
      </td>
      <td class="govuk-table__cell">
        <div style="display: flex; gap: 10px;">
          <button name="language" value="en" class="govuk-button">En</button>
          <button name="language" value="cy" class="govuk-button">Cy</button>
        </div>
      </td>
    </tr>
  </form>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
