{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "shared/base.njk" %}
{% set pageTitleKey = "All templates" %}

{% block content %}
  <form id="pageSelectForm" action="/dev/all-templates" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ govukRadios({
      name: "template",
      fieldset: {
        legend: {
          text: "Select a Page",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: templateRadioOptions
    }) }}

    {{ govukRadios({
      name: "language",
      fieldset: {
        legend: {
          text: "Select a Language",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "en",
          text: "English",
          checked: true
        },
        {
          value: "cy",
          text: "Welsh"
        }
      ]
    }) }}

    {{ govukCheckboxes({
      name: "hasErrorState",
      items: [
        {
          text: "Error state",
          value: "true"
        }
      ]
    }) }}

    {{ govukInput({
      label: {
        text: "Context (optional)",
        classes: "govuk-label--m"
      },
      id: "context",
      name: "context"
    }) }}

    {{ govukButton({
      text: "Go"
    }) }}
  </form>
{% endblock %}
