{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'error.defaultError.title' | translate %}
{% set googleTagManagerPageId = "errors.error" %}

{% block content %}
  <h1 class="govuk-heading-l">{{'error.defaultError.header' | translate }}</h1>
  <p class="govuk-body">{{'error.defaultError.content.paragraph1' | translate }}</p>
  <h2 class="govuk-heading-m">{{'error.defaultError.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{'error.defaultError.content.paragraph2' | translate }}</p>

  {{ govukButton({
    "text": button_text|default('error.defaultError.content.govUKHomepageButtonText' | translate, true),
    "type": "Submit",
    "href": 'error.defaultError.content.govUKHomepageButtonHref' | translate
  }) }}

  <p class="govuk-body"><a target="_blank" rel="noopener noreferrer" href="{{'error.defaultError.content.contactLinkHref' | translate }}" class="govuk-link">{{'error.defaultError.content.contactLinkText' | translate }}</a></p>
{% endblock %}
