{% extends "hmpo-template.njk" %}
{% set hmpoPageKey = "pageCriTransition" %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block main %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">CRI transition page</h1>

          {{ govukButton({
          text: "Continue",
          href:"/ipv/journey/next"
          }) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
