{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleName = 'pages.pageIpvIdentityDocumentStart.title' | translate %}
{% set googleTagManagerPageId = "pageIpvIdentityDocumentStart" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{'pages.pageIpvIdentityDocumentStart.header' | translate }}</h1>

  <h2 class="govuk-heading-m">{{'pages.pageIpvIdentityDocumentStart.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{'pages.pageIpvIdentityDocumentStart.content.paragraph1' | translate }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.pageIpvIdentityDocumentStart.content.list1' | translate }}</li>
    <li>{{'pages.pageIpvIdentityDocumentStart.content.list2' | translate }}</li>
  </ul>
  <p class="govuk-body">{{'pages.pageIpvIdentityDocumentStart.content.paragraph2' | translate }}</p>

  <h2 class="govuk-heading-m">{{'pages.pageIpvIdentityDocumentStart.content.subHeading2' | translate }}</h2>
  <p class="govuk-body">{{'pages.pageIpvIdentityDocumentStart.content.paragraph3' | translate }}</p>


  <h2 class="govuk-heading-m">{{'pages.pageIpvIdentityDocumentStart.content.subHeading3' | translate }}</h2>
  <p class="govuk-body">{{'pages.pageIpvIdentityDocumentStart.content.paragraph4' | translate }}</p>
  <ul class="govuk-list  govuk-list--bullet">
    <li>{{'pages.pageIpvIdentityDocumentStart.content.list3' | translate }}</li>
    <li>{{'pages.pageIpvIdentityDocumentStart.content.list4' | translate }}</li>
  </ul>
  <p class="govuk-body">{{'pages.pageIpvIdentityDocumentStart.content.paragraph5' | translate }}</p>

  <h2 class="govuk-heading-m">{{'pages.pageIpvIdentityDocumentStart.content.subHeading4' | translate }}</h2>
  <p class="govuk-body">{{'pages.pageIpvIdentityDocumentStart.content.paragraph6' | translate }}</p>

  <h2 class="govuk-heading-m">{{'pages.pageIpvIdentityDocumentStart.content.subHeading5' | translate }}</h2>
  <form id="pendingPageOptionsForm" action="/ipv/page/{{pageId}}" method="POST" onsubmit="return identityDocumentStartPageOptionsFormSubmit()">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ govukRadios({
    idPrefix: "journey",
    name: "journey",
    items: [
              {
                value: "next/multiple-doc-check",
                text: 'pages.pageIpvIdentityDocumentStart.content.formRadioButtons.yes' | translate
              },
              {
                value: "next/postoffice-start",
                text: 'pages.pageIpvIdentityDocumentStart.content.formRadioButtons.no' | translate
              }
            ]
      })
    }}
    <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
      {{'general.buttons.next' | translate }}
    </button>
  </form>

  <script>
    let disableSubmit = false;
    function identityDocumentStartPageOptionsFormSubmit() {
      if(!disableSubmit) {
        disableSubmit = true;
        document.getElementById('submitButton').disabled = true;
        return true
      }
      return false;
    }
  </script>
{% endblock %}
