{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% if context == 'f2f' %}
  {% set pageText = "pages.pageF2FMultipleDockCheck" %}
  {% set googleTagManagerPageId = "pageF2FMultipleDockCheck" %}
{% else %}}
  {% set pageText = "pages.pageMultipleDocCheck" %}
  {% set googleTagManagerPageId = "pageMultipleDocCheck" %}
{% endif %}}

{% set pageTitleName = [ pageText , '.title' ] | join | translate %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{[ pageText , '.header' ] | join | translate }}</h1>
  <p class="govuk-body">{{[ pageText , '.content.paragraph1' ] | join | translate | safe }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{[ pageText , '.content.bullet1' ] | join | translate | safe }}</li>
    <li>{{[ pageText , '.content.bullet2' ] | join | translate | safe }}</li>
  </ul>
  <p class="govuk-body">{{[ pageText , '.content.paragraph2' ] | join | translate | safe }}</p>

  {% if (isWelsh) and (context == 'f2f') %}
    {{ govukInsetText({
      text: [ pageText , '.content.insetText' ] | join | translate
    }) }}
  {% endif %}

  <h2 class="govuk-heading-m">{{[ pageText , '.content.subHeading' ] | join | translate }}</h2>

  <form id="passportMultipleDocCheckingForm" action="/ipv/page/{{pageId}}" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ govukRadios({
    idPrefix: "journey",
    name: "journey",
    items: [
              {
                value: "next/driving-licence",
                text: [ pageText , '.content.formRadioButtons.continueDrivingLicenceButtonText' ] | join | translate
              },
              {
                value: "next/passport",
                text: [ pageText , '.content.formRadioButtons.continuePassportButtonText' ] | join | translate
              },
              {
                divider: [ pageText , '.content.formRadioButtons.separateOptionsInFormText' ] | join | translate
              },
              {
                value: "end",
                text: [ pageText , '.content.formRadioButtons.otherWayButtonText' ] | join | translate
              }
            ]
      })
    }}
    <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
      {{'general.buttons.next' | translate }}
    </button>
  </form>
{% endblock %}
