{% extends "shared/base.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitleName = 'pages.pageF2fHandoff.title' | translate %}
{% set googleTagManagerPageId = "pageF2fHandoff" %}

{% block content %}

  {{ govukPanel({
    titleText: 'pages.pageF2fHandoff.panelText' | translate,
    classes:"di-f2f-panel govuk-!-margin-bottom-7"
  }) }}

  <p class="govuk-body">{{ 'pages.pageF2fHandoff.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{ 'pages.pageF2fHandoff.content.paragraph2' | translate }}</p>

  <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-2">{{ 'pages.pageF2fHandoff.content.subHeading1' | translate }}</h2>
  <p class="govuk-body govuk-!-margin-bottom-2">{{ 'pages.pageF2fHandoff.content.paragraph3' | translate }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ 'pages.pageF2fHandoff.content.bullet1' | translate }}</li>
    <li>{{ 'pages.pageF2fHandoff.content.bullet2' | translate }}</li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-2">{{ 'pages.pageF2fHandoff.content.subHeading2' | translate }}</h2>
  <p class="govuk-body">{{ 'pages.pageF2fHandoff.content.paragraph4' | translate }}</p>
  <p class="govuk-body">{{ 'pages.pageF2fHandoff.content.paragraph5' | translate }}</p>
  <p class="govuk-body">{{ 'pages.pageF2fHandoff.content.paragraph6' | translate }} <a href="{{ 'pages.pageF2fHandoff.content.paragraph6LinkHref' | translate }}" class="govuk-link" rel="noreferrer noopener" target="_blank">{{ 'pages.pageF2fHandoff.content.paragraph6LinkText' | translate }}</a>.</p>
  {{ govukInsetText({
    text: 'pages.pageF2fHandoff.content.insetText' | translate
  }) }}

  <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-2">{{ 'pages.pageF2fHandoff.content.subHeading3' | translate }}</h2>
  <p class="govuk-body">{{ 'pages.pageF2fHandoff.content.paragraph7' | translate }}</p>

  <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-2">{{ 'pages.pageF2fHandoff.content.subHeading4' | translate }}</h2>
  <p class="govuk-body"><a target="_blank" rel="noopener noreferrer" href="{{ 'pages.pageF2fHandoff.content.contactLinkHrefF2fCustom' | translate }}" class="govuk-link">{{ 'general.shared.contactLinkText' | translate }}</a></p>

{% endblock %}
