{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleName = 'pages.pageMultipleF2FDocCheck.title' | translate %}
{% set googleTagManagerPageId = "pageMultipleF2FDocCheck" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{'pages.pageMultipleF2FDocCheck.header' | translate }}</h1>
  <p class="govuk-body">{{'pages.pageMultipleF2FDocCheck.content.paragraph1' | translate | safe }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.pageMultipleF2FDocCheck.content.bullet1' | translate | safe }}</li>
    <li>{{'pages.pageMultipleF2FDocCheck.content.bullet2' | translate | safe }}</li>
  </ul>
  <p class="govuk-body">{{'pages.pageMultipleF2FDocCheck.content.paragraph2' | translate | safe }}</p>

  <h2 class="govuk-heading-m">{{'pages.pageMultipleF2FDocCheck.content.subHeading' | translate }}</h2>

  <p class="govuk-body">{{'pages.pageMultipleF2FDocCheck.content.paragraph3' | translate | safe }}</p>
  <p class="govuk-body">{{'pages.pageMultipleF2FDocCheck.content.paragraph4' | translate | safe }}</p>
  <p class="govuk-body">{{'pages.pageMultipleF2FDocCheck.content.paragraph5' | translate | safe }}</p>
  <p class="govuk-body">{{'pages.pageMultipleF2FDocCheck.content.paragraph6' | translate | safe }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.pageMultipleF2FDocCheck.content.bullet3' | translate | safe }}</li>
    <li>{{'pages.pageMultipleF2FDocCheck.content.bullet4' | translate | safe }}</li>
  </ul>

  <h2 class="govuk-heading-m">{{'pages.pageMultipleF2FDocCheck.content.subHeading2' | translate }}</h2>

  <form id="passportMultipleDocCheckingForm" action="/ipv/page/{{pageId}}" method="POST" onsubmit="return passportMultipleDocCheckingFormSubmit()">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ govukRadios({
    idPrefix: "journey",
    name: "journey",
    items: [
              {
                value: "next/driving-licence",
                text: 'pages.pageMultipleF2FDocCheck.content.formRadioButtons.continueDrivingLicenceButtonText' | translate
              },
              {
                value: "next/passport",
                text: 'pages.pageMultipleF2FDocCheck.content.formRadioButtons.continuePassportButtonText' | translate
              },
              {
                divider: 'pages.pageMultipleF2FDocCheck.content.formRadioButtons.separateOptionsInFormText' | translate
              },
              {
                value: "end",
                text: 'pages.pageMultipleF2FDocCheck.content.formRadioButtons.otherWayButtonText' | translate
              }
            ]
      })
    }}
    <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
      {{'general.buttons.next' | translate }}
    </button>
  </form>

  <script>
    let disableSubmit = false;
    function passportMultipleDocCheckingFormSubmit() {
      if(!disableSubmit) {
        disableSubmit = true;
        document.getElementById('submitButton').disabled = true;
        return true
      }
      return false;
    }
  </script>
{% endblock %}
