{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.pageIpvError.title' | translate %}

{% block content %}
  <p class="govuk-body">{{'pages.pageIpvError.content.paragraph1' | translate }}</p>
{% endblock %}
