{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set pageTitleName = 'pages.pageIpvReuse.title' | translate %}
{% set googleTagManagerPageId = "pageIpvReuse" %}

{% block content %}
    <h1 class="govuk-heading-l" id="header"
        data-page="{{ googleTagManagerPageId }}">{{ 'pages.pageIpvReuse.header' | translate }}</h1>
    <p class="govuk-body">{{ 'pages.pageIpvReuse.content.paragraph1' | translate }}</p>
    <p class="govuk-body">{{ 'pages.pageIpvReuse.content.paragraph2' | translate }}</p>
    <h2 class="govuk-heading-m">{{ 'pages.pageIpvReuse.content.subHeading' | translate }}</h2>
    <p class="govuk-body">{{ 'pages.pageIpvReuse.content.paragraph3' | translate }}</p>
    <p class="govuk-body">{{ 'pages.pageIpvReuse.content.paragraph4' | translate }}</p>

    {% set rows = [
        {
            key: {
                text: 'pages.pageIpvReuse.content.userDetailsInformation.fullName' | translate
            },
            value: {
                text: userDetails.name
            }
        },
        {
            key: {
                text: 'pages.pageIpvReuse.content.userDetailsInformation.dateOfBirth' | translate
            },
            value: {
                text: userDetails.dateOfBirth | GDSDate
            }
        }
    ] %}

    {% for addressDetail in userDetails.addresses %}
        {% set addressRow =
            {
                key:
                {
                    text: addressDetail.label
                },
                value:
                {
                    text: addressDetail.addressDetailHtml | safe
                }
            }
        %}
        {% set rows =(rows.push(addressRow), rows) %}
    {% endfor %}

    {{ govukSummaryList({
        rows: rows
    }) }}

    {{ govukDetails({
        summaryText: 'pages.pageIpvReuse.content.updateUserDetailsInformation.updateDetailsLabel' | translate,
        text: 'pages.pageIpvReuse.content.updateUserDetailsInformation.updateDetailsHtml' | translate( { pageId: pageId } ) | safe
    }) }}

    {% include 'shared/journey-next-form.njk' %}
{% endblock %}
