{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleName = 'pages.pageIpvBankAccountStart.title' | translate %}
{% set googleTagManagerPageId = "pageIpvBankAccountStart" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pageIpvBankAccountStart.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pageIpvBankAccountStart.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#pageIpvBankAccountStartOptionsForm" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pageIpvBankAccountStart.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pageIpvBankAccountStart.content.paragraph1' | translate }}</p>

  <ul class="govuk-list" role="list">
    <li>
      <h2 class="govuk-heading-m govuk-!-margin-top-7">{{ 'pages.pageIpvBankAccountStart.content.subHeading' | translate }}</h2>
      <p class="govuk-body govuk-!-margin-bottom-2">{{ 'pages.pageIpvBankAccountStart.content.paragraph2' | translate }}</p>
      <ul class="govuk-list govuk-list--bullet ">
        <li>{{ 'pages.pageIpvBankAccountStart.content.list1' | translate }}</li>
        <li>{{ 'pages.pageIpvBankAccountStart.content.list2' | translate }}</li>
        <li>{{ 'pages.pageIpvBankAccountStart.content.list3' | translate }}</li>
        <li>{{ 'pages.pageIpvBankAccountStart.content.list4' | translate }}</li>
        <li>{{ 'pages.pageIpvBankAccountStart.content.list5' | translate }}</li>
      </ul>
    </li>
  </ul>
  <p class="govuk-body">{{ 'pages.pageIpvBankAccountStart.content.paragraph3' | translate }}</p>

  <h2 class="govuk-heading-m govuk-!-margin-top-7">{{ 'pages.pageIpvBankAccountStart.content.subHeading3' | translate }}</h2>
  <form id="pageIpvBankAccountStartOptionsForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.pageIpvBankAccountStart.content.subHeading2' | translate,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "next",
          text: 'pages.pageIpvBankAccountStart.content.formRadioButtons.continueBankDetailsButtonText' | translate
        },
        {
          value: "end",
          text: 'pages.pageIpvBankAccountStart.content.formRadioButtons.otherWayButtonText' | translate
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pageIpvBankAccountStart.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
      {{ 'general.buttons.next' | translate }}
    </button>
  </form>
{% endblock %}
