{% extends "shared/ipv-template.html" %}
{% from "hmpo-html/macro.njk" import hmpoHtml %}
{% set hmpoPageKey = "pagePreKbvTransition" %}

{% block mainContent %}
<h1 id="header" data-page="{{hmpoPageKey}}">{{ translate("pages." + hmpoPageKey + ".h1", { default: hmpoTitle }) | safe }}</h1>

{{ hmpoHtml(translate("pages." + hmpoPageKey + ".content", { default: [] })) }}

{{ govukWarningText({ text: translate("pages." + hmpoPageKey + ".warningTextContent") | safe, iconFallbackText: translate("pages." + hmpoPageKey + ".warningTextFallback") | safe }) }}

{{ hmpoHtml(translate("pages." + hmpoPageKey + ".contentAddition", { default: [] })) }}

{{ govukDetails({ summaryText: translate("pages." + hmpoPageKey + ".summaryText") | safe, html: translate("pages." + hmpoPageKey + ".summaryHtml") | safe  }) }}

  {% block cta %}
    {% include 'shared/journey-next-form.njk' %}
  {% endblock%}

{% endblock %}





