{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.pageDcmawSuccess.title' | translate %}
{% set googleTagManagerPageId = "pageDcmawApp" %}

{% block content %}
  <h1 class="govuk-heading-l">{{'pages.pageDcmawSuccess.header' | translate }}</h1>
  <p class="govuk-body">{{'pages.pageDcmawSuccess.content.paragraph1' | translate }}</p>

  {% include 'shared/journey-next-form.njk' %}
{% endblock %}
