{% extends "shared/ipv-template.html" %}
{% set hmpoPageKey = "pagePassportDocCheck" %}

{% block cta %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  <form id="passportDocCheckingForm" action="/ipv/page/{{pageId}}" method="POST" onsubmit="return passportDocCheckingFormSubmit()">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ govukRadios({
    idPrefix: "journey",
    name: "journey",
    items: [
            {
              value: "next",
              text: translate('pages.pagePassportDocCheck.formRadioButtons.continueButtonText'),
              hint: {text: translate('pages.pagePassportDocCheck.formRadioButtons.continueButtonHint') }
            },
            {
              value: "end",
              text: translate('pages.pagePassportDocCheck.formRadioButtons.otherWayButtonText'),
              hint: {text: translate('pages.pagePassportDocCheck.formRadioButtons.otherWayButtonHint') }
            }
    ]
    })
    }}
    <button name="submitButton" class="govuk-button button" data-module="govuk-button" id="submitButton">
      {{ translate("buttons.next") }}
    </button>
  </form>

  <script>
    let disableSubmit = false;
    function passportDocCheckingFormSubmit() {
      if(!disableSubmit) {
        disableSubmit = true;
        document.getElementById('submitButton').disabled = true;
        return true
      }
      return false;
    }
  </script>
{% endblock %}
