{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set pageTitleName = 'pages.pagePersistIdentity.title' | translate %}
{% set googleTagManagerPageId = "pagePersistIdentity" %}

{% block content %}
    <h1 class="govuk-heading-l" id="header"
        data-page="{{ googleTagManagerPageId }}">{{ 'pages.pagePersistIdentity.header' | translate }}</h1>
    <p class="govuk-body">{{ 'pages.pagePersistIdentity.content.paragraph1' | translate }}</p>
    <h2 class="govuk-heading-m">{{ 'pages.pagePersistIdentity.content.subHeading' | translate }}</h2>
    <p class="govuk-body">{{ 'pages.pagePersistIdentity.content.paragraph2' | translate }}</p>

    {#  This is the https://design-system.service.gov.uk/components/summary-list/ component #}

    {{ govukSummaryList({
        rows: [
            {
                key: {
                text: 'pages.pagePersistIdentity.content.userDetailsInformation.fullName' | translate
            },
                value: {
                text: userDetails.name
            }
            },
            {
                key: {
                text: 'pages.pagePersistIdentity.content.userDetailsInformation.dateOfBirth' | translate
            },
                value: {
                text: userDetails.dateOfBirth
            }
            },
            {
                key: {
                text: 'pages.pagePersistIdentity.content.userDetailsInformation.homeAddress' | translate
            },
                value: {
                html: userDetails.addressDetails
            }
            }
        ]
    }) }}

    {{ govukDetails({
        summaryText: 'pages.pagePersistIdentity.content.updateUserDetailsInformation.updateDetailsLabel' | translate,
        text: 'pages.pagePersistIdentity.content.updateUserDetailsInformation.updateDetailsHtml' | translate | safe
    }) }}

    {% include 'shared/journey-next-form.njk' %}
{% endblock %}
