{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.pageIpvSuccess.title' | translate %}
{% set googleTagManagerPageId = "pageIpvSuccess" %}

{% block content %}
  <h1 class="govuk-heading-l">{{'pages.pageIpvSuccess.header' | translate }}</h1>
  <p class="govuk-body">{{'pages.pageIpvSuccess.content.paragraph1' | translate | safe }}</p>
  <p class="govuk-body">{{'pages.pageIpvSuccess.content.paragraph2' | translate }}</p>

  {% include 'shared/journey-next-form.njk' %}
{% endblock %}
