{% extends "hmpo-template.njk" %}

{% block pageTitle %}
Answer Security Questions - Prove your identity - GDS 
{% endblock %}

{# {% set hmpoPageKey = "pageIpvIdentityStart" %} #}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {% include "../shared/phase-banner.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

{% block mainContent %}

<h1 id="header" data-page="{{hmpoPageKey}}">{{ translate("pages." + hmpoPageKey + ".h1", { default: hmpoTitle }) | safe }}</h1>

{% from "hmpo-html/macro.njk" import hmpoHtml %}
{{ hmpoHtml(translate("pages." + hmpoPageKey + ".contentStart")) 
}}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: translate("pages." + hmpoPageKey + ".warningText"),
  iconFallbackText: translate("pages." + hmpoPageKey + ".iconFallbackText")
}) 
}}
    
{{ hmpoHtml(translate("pages." + hmpoPageKey + ".contentContinue")) 
}}


{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: translate("pages." + hmpoPageKey + ".detailsSummaryText"),
  html: translate("pages." + hmpoPageKey + ".detailsHTML")
}) }}

<p><a href="/journey/next" class="govuk-button" data-module="govuk-button">{{ translate("buttons.next") }}</a></p>

{% endblock %}
</div>
</div>

{% endblock %}