{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleName = 'pages.pagePassportDocCheck.title' | translate %}
{% set googleTagManagerPageId = "pagePassportDocCheck" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{'pages.pagePassportDocCheck.header' | translate }}</h1>
  <p class="govuk-body">{{'pages.pagePassportDocCheck.content.paragraph1' | translate | safe }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.pagePassportDocCheck.content.bullet1' | translate | safe }}</li>
    <li>{{'pages.pagePassportDocCheck.content.bullet2' | translate | safe }}</li>
    <li>{{'pages.pagePassportDocCheck.content.bullet3' | translate | safe }}</li>
  </ul>

  <p class="govuk-body">{{'pages.pagePassportDocCheck.content.subHeading' | translate }}</p>

  <form id="passportDocCheckingForm" action="/ipv/page/{{pageId}}" method="POST" onsubmit="return passportDocCheckingFormSubmit()">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ govukRadios({
    idPrefix: "journey",
    name: "journey",
    items: [
              {
                value: "next",
                text: 'pages.pagePassportDocCheck.content.formRadioButtons.continueButtonText' | translate,
                hint: {text: 'pages.pagePassportDocCheck.content.formRadioButtons.continueButtonHint' | translate}
              },
              {
                value: "end",
                text: 'pages.pagePassportDocCheck.content.formRadioButtons.otherWayButtonText' | translate,
                hint: {text: 'pages.pagePassportDocCheck.content.formRadioButtons.otherWayButtonHint' | translate}
              }
            ]
      })
    }}
    <button name="submitButton" class="govuk-button button" data-module="govuk-button" id="submitButton">
      {{'general.buttons.next' | translate }}
    </button>
  </form>

  <script>
    let disableSubmit = false;
    function passportDocCheckingFormSubmit() {
      if(!disableSubmit) {
        disableSubmit = true;
        document.getElementById('submitButton').disabled = true;
        return true
      }
      return false;
    }
  </script>
{% endblock %}
