{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set errorState = pageErrorState %}
{% set pageTitleName = 'pages.pageIpvIdentityDocumentStart.title' | translate %}
{% set googleTagManagerPageId = "pageIpvIdentityDocumentStart" %}

{% block content %}

  {% if errorState %}
  <p class="govuk-body">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph' | translate }}</p>	    {{ govukErrorSummary({
      titleText: 'pages.pageIpvIdentityDocumentStart.content.formErrorMessage.errorSummaryTitleText' | translate,
      errorList: [
        {
          text: 'pages.pageIpvIdentityDocumentStart.content.formErrorMessage.errorSummaryDescriptionText' | translate,
          href: "#identityDocumentStartPageOptionsForm"
        }
      ]
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pageIpvIdentityDocumentStart.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph' | translate }}</p>

  <ul class="govuk-list" role="list">
    <li>
      <h2 class="govuk-heading-m govuk-!-margin-top-7">{{ 'pages.pageIpvIdentityDocumentStart.content.subHeading' | translate }}</h2>
      <p class="govuk-body govuk-!-margin-bottom-2">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph1' | translate }}</p>
      <ul class="govuk-list govuk-list--bullet ">
        <li>{{ 'pages.pageIpvIdentityDocumentStart.content.list1' | translate }}</li>
        <li>{{ 'pages.pageIpvIdentityDocumentStart.content.list2' | translate }}</li>
      </ul>
    </li>
    <li>
      <h2 class="govuk-heading-m govuk-!-margin-top-7">{{ 'pages.pageIpvIdentityDocumentStart.content.subHeading2' | translate }}</h2>
      <p class="govuk-body">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph3' | translate }}</p>
    </li>
    <li>
      <h2 class="govuk-heading-m govuk-!-margin-top-7">{{ 'pages.pageIpvIdentityDocumentStart.content.subHeading3' | translate }}</h2>
      <p class="govuk-body govuk-!-margin-bottom-2">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph4' | translate }}</p>
      <ul class="govuk-list  govuk-list--bullet">
        <li>{{ 'pages.pageIpvIdentityDocumentStart.content.list3' | translate }}</li>
        <li>{{ 'pages.pageIpvIdentityDocumentStart.content.list4' | translate }}</li>
      </ul>
      <p class="govuk-body">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph5' | translate }}</p>
      <picture>
        <source srcset="{{ assetsCdnPath }}/public/images/passport-icon.svg" />
        <img width="174" height="121" loading="lazy" src="{{ assetsCdnPath }}/public/images/passport-icon-1x.png" srcset="{{ assetsCdnPath }}/public/images/passport-icon-2x.png 2x" alt="{{ 'pages.pageIpvIdentityDocumentStart.content.imgAltText' | translate }}" />
      </picture>
    </li>
    <li>
      <h2 class="govuk-heading-m govuk-!-margin-top-7">{{ 'pages.pageIpvIdentityDocumentStart.content.subHeading4' | translate }}</h2>
      <p class="govuk-body">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph6' | translate }}</p>
    </li>
    <li>
      <h2 class="govuk-heading-m govuk-!-margin-top-7">{{ 'pages.pageIpvIdentityDocumentStart.content.subHeading5' | translate }}</h2>
      <p class="govuk-body">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph7' | translate }}</p>
    </li>
    <li>
      <h2 class="govuk-heading-m govuk-!-margin-top-7">{{ 'pages.pageIpvIdentityDocumentStart.content.subHeading6' | translate }}</h2>
      <p class="govuk-body">{{ 'pages.pageIpvIdentityDocumentStart.content.paragraph8' | translate }}</p>
    </li>
  </ul>

  <form id="identityDocumentStartPageOptionsForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set radiosConfig = {
      idPrefix: "journey",
      name: "journey",
      fieldset: {
        legend: {
          text: 'pages.pageIpvIdentityDocumentStart.content.subHeading7' | translate,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "next",
          text: 'pages.pageIpvIdentityDocumentStart.content.formRadioButtons.yes' | translate
        },
        {
          value: "end",
          text: 'pages.pageIpvIdentityDocumentStart.content.formRadioButtons.no' | translate
        }
      ]
    } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pageIpvIdentityDocumentStart.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}

    <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
      {{ 'general.buttons.next' | translate }}
    </button>
  </form>
{% endblock %}
