{% extends "shared/base.njk" %}
{% set pageTitleName = 'pages.pageIpvPending.title' | translate %}
{% set googleTagManagerPageId = "pageIpvPending" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{'pages.pageIpvPending.header' | translate }}</h1>

  <p class="govuk-body">{{'pages.pageIpvPending.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{'pages.pageIpvPending.content.paragraph2' | translate }}</p>
  <form id="pendingPageOptionsForm" action="/ipv/page/{{pageId}}" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="govuk-inset-text">
      {{'pages.pageIpvPending.content.insetText' | translate }}
      <input type="hidden" name="journey" value="next">
      <button id="otherWayLink" role="link" data-prevent-double-click="true" class="govuk-button govuk-link govuk-btn-as-link" data-module="govuk-button">{{ 'pages.pageIpvPending.content.linkText' | translate }}</button>{{'pages.pageIpvPending.content.insetTextContinuation' | translate }}
    </div>
  </form>

  <h2 class="govuk-heading-m">{{'pages.pageIpvPending.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{'pages.pageIpvPending.content.paragraph3' | translate }}</p>
  <p class="govuk-body">{{'pages.pageIpvPending.content.paragraph4' | translate }}</p>

  <h2 class="govuk-heading-m">{{'pages.pageIpvPending.content.subHeading2' | translate }}</h2>
  <p class="govuk-body"><a target="_blank" rel="noopener noreferrer" href="{{'general.shared.contactLinkHref' | translate }}" class="govuk-link">{{'general.shared.contactLinkText' | translate }}</a></p>
{% endblock %}
