{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleName = 'pages.pyiF2fTechnical.title' | translate %}
{% set googleTagManagerPageId = "pyiF2fTechnical" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiF2fTechnical.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pyiF2fTechnical.content.paragraph1' | translate | safe }}</p>

  <h2 class="govuk-heading-m">{{ 'pages.pyiF2fTechnical.content.subHeading' | translate }}</h2>

  <form id="pyiF2fTechnicalForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukRadios({
      idPrefix: "journey",
      name: "journey",
      items: [
        {
          value: "next",
          text: 'pages.pyiF2fTechnical.content.formRadioButtons.tryAgainButtonText' | translate
        },
        {
          value: "end",
          text: 'pages.pyiF2fTechnical.content.formRadioButtons.continueButtonText' | translate
        }
      ]
    }) }}
    <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
      {{ 'general.buttons.next' | translate }}
    </button>
  </form>

  <p class="govuk-body"><a target="_blank" rel="noopener noreferrer" href="{{'general.shared.contactLinkHref' | translate }}" class="govuk-link">{{'general.shared.contactLinkText' | translate }}</a></p>
{% endblock %}
