{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.pyiTimeoutRecoverable.title' | translate %}
{% set googleTagManagerPageId = "pyiTimeoutRecoverable" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{'pages.pyiTimeoutRecoverable.header' | translate }}</h1>
  <p class="govuk-body">{{'pages.pyiTimeoutRecoverable.content.paragraph1' | translate }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.pyiTimeoutRecoverable.content.bullet1' | translate }}</li>
    <li>{{'pages.pyiTimeoutRecoverable.content.bullet2' | translate }}</li>
    <li>{{'pages.pyiTimeoutRecoverable.content.bullet3' | translate }}</li>
  </ul>
  <h2 class="govuk-heading-m">{{'pages.pyiTimeoutRecoverable.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{'pages.pyiTimeoutRecoverable.content.paragraph2' | translate }}</p>
  <form id="timeoutRecoverableForm" action="/ipv/page/pyi-timeout-recoverable" method="POST" onsubmit="return timeoutRecoverableFormSubmit()">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="journey" value="timeout-recoverable">
    <button name="submitButton" class="govuk-button button" data-module="govuk-button" id="submitButton">
      {{'general.buttons.next' | translate }}
    </button>
  </form>

  <script>
    let disableSubmit = false;
    function timeoutRecoverableFormSubmit() {
      if(!disableSubmit) {
        disableSubmit = true;
        document.getElementById('submitButton').disabled = true;
        return true
      }
      return false;
    }
  </script>

  <p class="govuk-body"><a target="_blank" rel="noopener noreferrer" href="{{'general.shared.contactLinkHref' | translate }}" class="govuk-link">{{'general.shared.contactLinkText' | translate }}</a></p>
{% endblock %}
