{% extends "shared/base.njk" %}
{% set errorState = pageErrorState %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% if errorState == 'true' %}
  {% set pageTitleName = 'pages.pyiEscape.content.formErrorMessage.errorPageTitle' | translate + ' – ' + 'pages.pyiEscape.title' | translate %}
  {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% else %}
  {% set pageTitleName = 'pages.pyiEscape.title' | translate %}
{% endif %}

{% set googleTagManagerPageId = "pyiEscape" %}

{% block content %}
  {% if errorState == 'true' %}
    {{ govukErrorSummary({
      titleText: 'pages.pyiEscape.content.formErrorMessage.errorSummaryTitleText' | translate,
      errorList: [
        {
          text: 'pages.pyiEscape.content.formErrorMessage.errorSummaryDescriptionText' | translate,
          href: "#pyiEscapeForm"
        }
      ]
    }) }}
  {% endif %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiEscape.header' | translate }}</h1>

  <h2 class="govuk-heading-m">{{ 'pages.pyiEscape.content.subHeading' | translate }}</h2>

  <form id="pyiEscapeForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% set radioButtonForm = {
      idPrefix: "journey",
      name: "journey",
      items: [
        {
          value: "end",
          text: 'pages.pyiEscape.content.formRadioButtons.otherWayButtonText' | translate
        },
        {
          value: "next",
          text: 'pages.pyiEscape.content.formRadioButtons.restartButtonText' | translate
        }
      ]
    } %}

    {# if there was an error, add another key to the Object with the error message #}
    {% if errorState == 'true' %}
      {% set errorMessageObject = {'text': 'pages.pyiEscape.content.formErrorMessage.errorRadioMessage' | translate} %}
      {% set radioButtonForm = radioButtonForm | setAttribute('errorMessage',errorMessageObject) %}
    {% endif %}

    {# Use the design system macro to output the radio button HTML #}
    {{ govukRadios(radioButtonForm) }}

    <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
      {{ 'general.buttons.next' | translate }}
    </button>
  </form>

  <p class="govuk-body">
    <a target="_blank" rel="noopener noreferrer" href="{{'general.shared.contactLinkHref' | translate }}" class="govuk-link">
      {{'general.shared.contactLinkText' | translate }}
    </a>
  </p>

  <script nonce='{{ cspNonce }}'>
    let disableSubmit = false;
    function pyiEscapeFormSubmit(event) {
        if (!disableSubmit) {
          disableSubmit = true;
          document.getElementById('submitButton').disabled = true;
        } else {
          event.preventDefault();
        }
    }
    document.getElementById("pyiEscapeForm")
      .addEventListener("submit", pyiEscapeFormSubmit);
  </script>
{% endblock %}
