{% extends "shared/base.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleName = 'pages.pyiConfirmDeleteDetails.title' | translate %}
{% set googleTagManagerPageId = "pyiConfirmDeleteDetails" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pyiConfirmDeleteDetails.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pyiConfirmDeleteDetails.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#pyiConfirmDeleteDetailsActionForm" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}"
      xmlns="http://www.w3.org/1999/html">{{ 'pages.pyiConfirmDeleteDetails.header' | translate }}</h1>

   <p class="govuk-body">{{ 'pages.pyiConfirmDeleteDetails.content.paragraph1' | translate }}</p>

    <form id="pyiConfirmDeleteDetailsActionForm" action="/ipv/page/{{pageId}}" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {{ govukRadios({
        idPrefix: "journey",
        name: "journey",
        items: [
                {
                    value: "next",
                    text: 'pages.pyiConfirmDeleteDetails.content.formRadioButtons.yes' | translate
                },
                {
                    value: "end",
                    text: 'pages.pyiConfirmDeleteDetails.content.formRadioButtons.no' | translate
                }
                ]
        })
        }}
        <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
            {{ 'general.buttons.next' | translate }}
        </button>
    </form>
{% endblock %}
