{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set pageTitleName = 'pages.PyiPostofficeStart.title' | translate %}
{% set googleTagManagerPageId = "PyiPostofficeStart" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}"
      xmlns="http://www.w3.org/1999/html">{{ 'pages.PyiPostofficeStart.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.PyiPostofficeStart.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{ 'pages.PyiPostofficeStart.content.paragraph2' | translate }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ 'pages.PyiPostofficeStart.content.list1' | translate }}</li>
    <li>{{ 'pages.PyiPostofficeStart.content.list2' | translate }}</li>
  </ul>
  <p class="govuk-body">{{ 'pages.PyiPostofficeStart.content.paragraph3' | translate }}</p>

  <ul class="govuk-list" role="list">
    <li>
      <h2 class="govuk-heading-m">{{ 'pages.PyiPostofficeStart.content.subHeading' | translate }}</h2>
      <p class="govuk-body">{{ 'pages.PyiPostofficeStart.content.paragraph4' | translate }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ 'pages.PyiPostofficeStart.content.list3' | translate }}</li>
        <li>{{ 'pages.PyiPostofficeStart.content.list4' | translate }}</li>
        <li>{{ 'pages.PyiPostofficeStart.content.list5' | translate }}</li>
        <li>{{ 'pages.PyiPostofficeStart.content.list6' | translate }}</li>
        <li>{{ 'pages.PyiPostofficeStart.content.list7' | translate }}</li>
        <li>{{ 'pages.PyiPostofficeStart.content.list8' | translate }}</li>
      </ul>
    </li>
  </ul>
  {{ govukInsetText({
    text: 'pages.PyiPostofficeStart.content.insetText' | translate
  }) }}
  <h2 class="govuk-heading-m">{{ 'pages.PyiPostofficeStart.content.subHeading2' | translate }}</h2>
  <form id="pyi-post-office" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukRadios({
      idPrefix: "journey",
      name: "journey",
      items: [
        {
          value: "next",
          text: 'pages.PyiPostofficeStart.content.formRadioButtons.yes' | translate
        },
        {
          value: "end",
          text: 'pages.PyiPostofficeStart.content.formRadioButtons.no' | translate
        }
      ]
    }) }}
    <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
      {{ 'general.buttons.next' | translate }}
    </button>
  </form>
{% endblock %}
