{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set pageTitleName = 'pages.pyiCimitMitigationNoF2f.title' | translate %}
{% set googleTagManagerPageId = "pyiCimitMitigationNoF2f" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiCimitMitigationNoF2f.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pyiCimitMitigationNoF2f.content.paragraph1' | translate }}</p>

  <h2 class="govuk-heading-m">{{ 'pages.pyiCimitMitigationNoF2f.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{ 'pages.pyiCimitMitigationNoF2f.content.paragraph2' | translate }}</p>
  <p class="govuk-body govuk-!-margin-bottom-1">{{ 'pages.pyiCimitMitigationNoF2f.content.paragraph3' | translate }}</p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
    <li>{{'pages.pyiCimitMitigationNoF2f.content.bullet1' | translate }}</li>
    <li>{{'pages.pyiCimitMitigationNoF2f.content.bullet2' | translate }}</li>
  </ul>
  <h2 class="govuk-heading-m">{{ 'pages.pyiCimitMitigationNoF2f.content.subHeading2' | translate }}</h2>

  <form id="pyiCimitMitigationNoF2fForm" action="/ipv/page/{{ pageId }}" method="POST" onsubmit="return pyiCimitMitigationNoF2fFormSubmit()">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukRadios({
    idPrefix: "journey",
    name: "journey",
    items: [
              {
                value: "next",
                text: 'pages.pyiCimitMitigationNoF2f.content.formRadioButtons.continueAppButtonText' | translate,
                hint: {text: 'pages.pyiCimitMitigationNoF2f.content.formRadioButtons.continueAppButtonTextHint' | translate}

              },
              {
                value: "end",
                text: 'pages.pyiCimitMitigationNoF2f.content.formRadioButtons.otherWayButtonText' | translate,
                hint: { text: 'pages.pyiCimitMitigationNoF2f.content.formRadioButtons.otherWayButtonTextHint' | translate }
              }
            ]
      })
    }}
    <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
      {{ 'general.buttons.next' | translate }}
    </button>
  </form>

  <p class="govuk-body">
    <a target="_blank" rel="noopener noreferrer" href="{{'general.shared.contactLinkHref' | translate }}" class="govuk-link">
      {{'general.shared.contactLinkText' | translate }}
    </a>
  </p>

  <script nonce='{{ cspNonce }}'>
      let disableSubmit = false;

      function pyiCimitMitigationNoF2fFormSubmit() {
          if (!disableSubmit) {
              disableSubmit = true;
              document.getElementById('submitButton').disabled = true;
              return true
          }
          return false;
      }
  </script>
{% endblock %}
