{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set pageTitleName = 'pages.pyiEscapeM2b.title' | translate %}
{% set googleTagManagerPageId = "pyiEscapeM2b" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pyiEscapeM2b.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pyiEscapeM2b.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#pyiEscapeM2bForm" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiEscapeM2b.header' | translate }}</h1>

  <h2 class="govuk-heading-m">{{ 'pages.pyiEscapeM2b.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{ 'pages.pyiEscapeM2b.content.paragraph1' | translate }}</p>

  <h2 class="govuk-heading-m">{{ 'pages.pyiEscapeM2b.content.subHeading2' | translate }}</h2>
  <p class="govuk-body">{{ 'pages.pyiEscapeM2b.content.paragraph2' | translate }}</p>

  {{ govukDetails({
    summaryText: 'pages.pyiEscapeM2b.content.details.label' | translate,
    text: 'pages.pyiEscapeM2b.content.details.text' | translate | safe
  }) }}

  <form id="pyiEscapeM2bForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% if context === "abandon" %}
          {% set radiosConfig = {
          idPrefix: "journey",
          name: "journey",
          fieldset: {
            legend: {
              text: 'pages.pyiEscapeM2b.content.subHeading3' | translate,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "end",
              text: 'pages.pyiEscapeM2b.content.formRadioButtons.radioButton1Text' | translate
            },
            {
              value: "next",
              text: 'pages.pyiEscapeM2b.content.formRadioButtons.radioButton2Text' | translate
            }
          ]
        } %}
        {% else %}
          {% set radiosConfig = {
            idPrefix: "journey",
            name: "journey",
            fieldset: {
              legend: {
                text: 'pages.pyiEscapeM2b.content.subHeading3' | translate,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "end",
                text: 'pages.pyiEscapeM2b.content.formRadioButtons.radioButton1Text' | translate
              },
              {
                value: "next",
                text: 'pages.pyiEscapeM2b.content.formRadioButtons.radioButton2Text' | translate
              },
              {
                divider: 'pages.pyiEscapeM2b.content.formRadioButtons.separateOptionsInFormText' | translate
              },
              {
                value: "next/bank-account",
                text: 'pages.pyiEscapeM2b.content.formRadioButtons.radioButton3Text' | translate
              }
            ]
          } %}
        {% endif %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pyiEscapeM2b.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
      {{ 'general.buttons.next' | translate }}
    </button>
  </form>

  <p class="govuk-body">
    <a target="_blank" rel="noopener noreferrer" href="{{ contactUsUrl }}" class="govuk-link">
      {{ 'general.shared.contactLinkText' | translate }}
    </a>
  </p>

{% endblock %}
