{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.pyiNoMatch.title' | translate %}
{% set googleTagManagerPageId = "pyiNoMatch" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiNoMatch.header' | translate }}</h1>
  <p class="govuk-body">{{ 'pages.pyiNoMatch.content.paragraph1' | translateWithContext(context) }}</p>
  {% if context !== "nino" %}
    <p class="govuk-body">{{ 'pages.pyiNoMatch.content.paragraph2' | translate }}</p>
  {% endif %}
  <h2 class="govuk-heading-m">{{ 'pages.pyiNoMatch.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{ 'pages.pyiNoMatch.content.paragraph3' | translate }}</p>

  {% include 'shared/journey-next-form.njk' %}

  <p class="govuk-body"><a target="_blank" rel="noopener noreferrer" href="{{ contactUsUrl }}" class="govuk-link">{{ 'general.shared.contactLinkText' | translate }}</a></p>
{% endblock %}
