{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitleName = 'pages.pyiEscapeM2b.title' | translate %}
{% set googleTagManagerPageId = "pyiEscapeM2b" %}

{% set errorState = pageErrorState %}
{% set errorTitle = 'pages.pyiEscapeM2b.content.formErrorMessage.errorSummaryTitleText' | translate %}
{% set errorText = 'pages.pyiEscapeM2b.content.formErrorMessage.errorSummaryDescriptionText' | translate %}
{% set errorHref = "#pyiEscapeM2bForm" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{ googleTagManagerPageId }}">{{ 'pages.pyiEscapeM2b.header' | translate }}</h1>

  <h2 class="govuk-heading-m">{{ 'pages.pyiEscapeM2b.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{ 'pages.pyiEscapeM2b.content.paragraph1' | translate }}</p>

  <h2 class="govuk-heading-m">{{ 'pages.pyiEscapeM2b.content.subHeading2' | translate }}</h2>
  <p class="govuk-body">{{ 'pages.pyiEscapeM2b.content.paragraph2' | translate }}</p>

  {{ govukDetails({
    summaryText: 'pages.pyiEscapeM2b.content.details.label' | translate,
    text: 'pages.pyiEscapeM2b.content.details.text' | translate | safe
  }) }}

  {% include "components/pyi-escape-m2b-form.njk" %}

  <p class="govuk-body">
    <a target="_blank" rel="noopener noreferrer" href="{{ contactUsUrl }}" class="govuk-link">
      {{ 'general.shared.contactLinkText' | translate }}
    </a>
  </p>

{% endblock %}
