{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.pyiKbvThinFile.title' | translate %}
{% set googleTagManagerPageId = "pyiKbvThinFile" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{'pages.pyiKbvThinFile.header' | translate }}</h1>
  <p class="govuk-body">{{'pages.pyiKbvThinFile.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{'pages.pyiKbvThinFile.content.paragraph2' | translate }}</p>
  <h2 class="govuk-heading-m">{{'pages.pyiKbvThinFile.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{'pages.pyiKbvThinFile.content.paragraph3' | translate }}</p>

  {% include 'shared/journey-next-form.njk' %}

  <p class="govuk-body"><a target="_blank" rel="noopener noreferrer" href="{{'general.shared.contactLinkHref' | translate }}" class="govuk-link">{{'general.shared.contactLinkText' | translate }}</a></p>
{% endblock %}
