{% extends "shared/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.pyiTimeoutUnrecoverable.title' | translate %}
{% set googleTagManagerPageId = "pyiTimeoutUnrecoverable" %}

{% block content %}
  <h1 class="govuk-heading-l" id="header" data-page="{{googleTagManagerPageId}}">{{'pages.pyiTimeoutUnrecoverable.header' | translate }}</h1>
  <p class="govuk-body">{{'pages.pyiTimeoutUnrecoverable.content.paragraph1' | translate }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{'pages.pyiTimeoutRecoverable.content.bullet1' | translate }}</li>
    <li>{{'pages.pyiTimeoutRecoverable.content.bullet2' | translate }}</li>
    <li>{{'pages.pyiTimeoutRecoverable.content.bullet3' | translate }}</li>
  </ul>
  <h2 class="govuk-heading-m">{{'pages.pyiTimeoutUnrecoverable.content.subHeading' | translate }}</h2>
  <p class="govuk-body">{{'pages.pyiTimeoutUnrecoverable.content.paragraph2' | translate }}</p>
  {{ govukButton({
    "text": button_text|default('general.shared.govUKHomepageButtonText' | translate, true),
    "type": "Submit",
    "href": 'general.shared.govUKHomepageButtonHref' | translate
  }) }}

  <p class="govuk-body"><a target="_blank" rel="noopener noreferrer" href="{{contactUsUrl}}" class="govuk-link">{{'general.shared.contactLinkText' | translate }}</a></p>
{% endblock %}
