{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %} {{ title }} – Example – GOV.UK Design System {% endblock %}

{% block head %}
  <meta name="robots" content="noindex, nofollow">
  <link href="/public/stylesheets/application.css" rel="stylesheet" media="all" />
{% endblock %}

{% block header %}
  {{ govukHeader({
  homepageUrl: "https://www.gov.uk"
  }) }}
{% endblock %}

{% block main %}
  {% macro criDisplay(cris, issuedCredentials) %}
    {% for cri in cris %}
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <a id="cri-link-{{ cri.id }}" class="govuk-heading-s" href="/ipv/journey/cri/build-oauth-request/{{ cri.id }}">{{cri.name}}</a>
          </dt>
          {% if issuedCredentials[cri.id] %}
            {% set issuedCredential = issuedCredentials[cri.id] %}
            <dd class="govuk-summary-list__value">
              <h3 class="govuk-heading-s">GPG45 Score</h3>

              {% if issuedCredential.evidence|length %}
                <pre>{{ issuedCredential.evidence | dump(2) }}</pre>
              {% else %}
                <p class="govuk-body">No GPG45 score found for this issued credential.<p class="govuk-body">
              {% endif %}

              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Credential attributes</span>
                </summary>
                <div class="govuk-details__text">
                  <pre>{{ issuedCredential.attributes | dump(2) }}</pre>
                </div>
              </details>
            </dd>
          {% endif %}
        </div>
      </dl>
    {% endfor %}
  {% endmacro %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">di-ipv-core-front</h1>
          {{ criDisplay(criConfig, issuedCredentials) }}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Return
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="/ipv/journey/session/end">
                  <input type="button" class="govuk-button" data-module="govuk-button" value="Authorize and Return">
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </main>
  </div>
{% endblock %}

{% block bodyEnd %}
{% endblock %}
