{# Remove this as part of PYIC-4278 #}
{% extends "shared/base.njk" %}
{% set pageTitleKey = "All templates has moved" %}

{% block content %}
  <p class="govuk-body">The all templates page has moved to <a href="/dev/all-templates">here</a>. Please update any bookmarks you may have.</p>
{% endblock %}
