<script {% if params.cspNonce%} nonce='{{ params.cspNonce }}'{% endif %}>
    window.addEventListener('load', function () {
        window
            .DI
            .analyticsGa4
            .pageViewTracker
            .trackOnPageLoad({
                language: document.querySelector("html")?.getAttribute("lang"),
                location: document.location.href?.toLowerCase(),
                englishPageTitle: '{{ params.englishPageTitle }}',
                referrer: document.referrer?.toLowerCase(),
                content_id: "",
                dynamic: '{{ params.isPageDynamic }}' === 'true',
                organisations: "<OT1056>",
                primary_publishing_organisation:
                    "government digital service - digital identity",
                statusCode: window.DI.httpStatusCode ?? 200,
                taxonomy_level1: "web cri",
                taxonomy_level2: "pre cri",
                taxonomy_level3: undefined,
                taxonomy_level4: undefined,
                taxonomy_level5: undefined,
            });
    });
</script>
