{% from "govuk/components/radios/macro.njk" import govukRadios %}

<form id="noPhotoIdExitFindAnotherWayForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {% set radioOptions = [
        {
          value: "end",
          text: 'pages.noPhotoIdExitFindAnotherWay.content.formRadioButtons.radioButton1Text' | translate
        },
        {
          value: "next",
          text: 'pages.noPhotoIdExitFindAnotherWay.content.formRadioButtons.radioButton2Text' | translate
        },
        {
          divider: 'pages.noPhotoIdExitFindAnotherWay.content.formRadioButtons.separateOptionsInFormText' | translate
        },
        {
          value: "bankAccount",
          text: 'pages.noPhotoIdExitFindAnotherWay.content.formRadioButtons.radioButton3Text' | translate
        }
      ] %}

    {% if context === "abandon" %}
      {% set radioOptions = radioOptions.slice(0, -2) %}
    {% endif %}

    {% set radiosConfig = {
          idPrefix: "journey",
          name: "journey",
          fieldset: {
            legend: {
              text: 'pages.noPhotoIdExitFindAnotherWay.content.subHeading3' | translate,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: radioOptions
        } %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.noPhotoIdExitFindAnotherWay.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
      {{ 'general.buttons.next' | translate }}
    </button>
  </form>
