{% from "govuk/components/radios/macro.njk" import govukRadios %}

<form id="pyiEscapeM2bForm" action="/ipv/page/{{ pageId }}" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% if context === "abandon" %}
          {% set radiosConfig = {
          idPrefix: "journey",
          name: "journey",
          fieldset: {
            legend: {
              text: 'pages.pyiEscapeM2b.content.subHeading3' | translate,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "end",
              text: 'pages.pyiEscapeM2b.content.formRadioButtons.radioButton1Text' | translate
            },
            {
              value: "next",
              text: 'pages.pyiEscapeM2b.content.formRadioButtons.radioButton2Text' | translate
            }
          ]
        } %}
        {% else %}
          {% set radiosConfig = {
            idPrefix: "journey",
            name: "journey",
            fieldset: {
              legend: {
                text: 'pages.pyiEscapeM2b.content.subHeading3' | translate,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "end",
                text: 'pages.pyiEscapeM2b.content.formRadioButtons.radioButton1Text' | translate
              },
              {
                value: "next",
                text: 'pages.pyiEscapeM2b.content.formRadioButtons.radioButton2Text' | translate
              },
              {
                divider: 'pages.pyiEscapeM2b.content.formRadioButtons.separateOptionsInFormText' | translate
              },
              {
                value: "next/bank-account",
                text: 'pages.pyiEscapeM2b.content.formRadioButtons.radioButton3Text' | translate
              }
            ]
          } %}
        {% endif %}

    {% if errorState %}
      {% set errorMessageObject = { 'text': 'pages.pyiEscapeM2b.content.formErrorMessage.errorRadioMessage' | translate } %}
      {% set radiosConfig = radiosConfig | setAttribute('errorMessage', errorMessageObject) %}
    {% endif %}

    {{ govukRadios(radiosConfig) }}
    <button name="submitButton" class="govuk-button" data-module="govuk-button" id="submitButton">
      {{ 'general.buttons.next' | translate }}
    </button>
  </form>
